/* tags */
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    padding: 0px;
    margin: 0px;
}


/* classes */
.main-section {
    width: 100%;
    /*height: 500px;*/
    /*height: inherit;*/
}

.alignright {
    float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-info {
    margin-top: 10px;
    color: #ffffff;
    background-color: #3882C7;
    border-color: #46b8da;
}

.charts,
.checkboxes,
.entries,
.image {
    height: 100%;
    overflow-y: scroll;
}

.image {
    width: 66%;
    float: left;
}

.charts img,
.image img {
    width: 100%;
    height: auto;
}

.checkboxes {
    margin-left: 100%;
    padding: 0px;
    display: none;
}

.entries {
    margin-left: 66%;
    padding: 20px;
}

.doughnut-graph {
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin: 2px;
}

.error_text {
    color: red;
}

.hidden {
    display: none;
}

.inline-display {
    display: inline-flex;
}

.row {
    margin: 5px 0;
}

.row-label {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.row-value {
    display: inline-block;
    width: 150px;
}

.row-value .select {
    width: 150px;
}

.row-cost {
    display: inline-block;
    width: 31px;
    text-align: right;
}

.sub-total {
    text-align: right;
    margin-left: 271px;
    width: 20px;
    border-top: 1px solid #000;
}

.total {
    text-align: right;
    margin-left: 300px;
    width: 20px;
    border-top: 1px solid #000;
    font-weight: bold;
}

.squad {
    display: none;

}

.squad-member {
    width: 350px;
    background-color: #ddd;
    margin: 10px;
    padding: 20px;
    display: inherit;
}

.tab {
    margin-left: 40px;
}

.templates {
    display: none !important;
}






/*charts*/

    .charts {
        width: 100%;
        float: left;
    }


    /*list display*/

        .charts {
            width: 66%; /*!!!*/
            float: left;
        }

    /*gtr*/


