.tg {
    border-collapse:collapse;
    border-spacing:0;
}

.tg tr:nth-child(even) {
    background-color: #ddd;
}

.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg .tg-3i0c {
    font-weight:bold;
    background-color:#ffce93;
}
