{% extends "layout.html" %}
{% block content %}
    <style>
        td {
            text-align:center;
            vertical-align:middle;
        }
    </style>

  <table id="archtypes" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th>List</th>
        <th>Number of lists</th>
        <th>Tags</th>
      </tr>
  </thead>
  <tbody>
    {% for a in archtypes %}
        <tr>
            <td>{{ a[1] | safe }}</td>
            <td>{{ a[2] }}</td>
            <td>{{ a[3] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#archtypes').dataTable( {
                "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                iDisplayLength: 25,
                "order": [[ 1, "desc" ]],
                "columns": [
                    { "width": "50%"},
                    { "width": "5%"},
                    { "width": "45%"}
                ]
        });
    } );

</script>

{% endblock %}