{% extends "layout.html" %}
{% block content %}

    <style>
        td {
            text-align:center;
            vertical-align:middle;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/vendor/taggle.min.css">

    <table id="performance" class="compact display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>List</th>
        <th>Number of lists</th>
        <th>Win Percentage</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>Total matches</th>
        <th>Points destroyed</th>
        <th>Efficiency</th>
        <th>Points survived</th>
        <th>Efficiency</th>
      </tr>
  </thead>
    <tr>
          <td>{{ stats['pretty_print'] | safe }}</td>
          <td>{{ archtype.num_lists() }}</td>
          <td>{{ stats['perc'] }}</td>
          <td>{{ stats['wins'] }}</td>
          <td>{{ stats['losses'] }}</td>
          <td>{{ stats['draws'] }}</td>
          <td>{{ stats['total'] }}</td>
          <td>{{ stats['points_for'] }}</td>
          <td>{{ stats['points_for_efficiency'] }}</td>
          <td>{{ stats['points_against'] }}</td>
          <td>{{ stats['point_against_efficiency'] }}</td>
    </tr>
</table>
    <br>
    Tags for this Archtype.  To use, start typing in a tag, and hit the 'Tab' key to finish the tag.
    <div class="input textarea clearfix" id="tags">
    </div>

    All tags ever submitted
    <div class="textarea clearfix" id="alltags" readonly>
    </div>

    <div>
    Tournament Results:
    <br>
    <hr>
        <table id=results class="compact display dataTable" role="grid" style="width:100%;">
            <thead>
                <th>Tourney</th>
                <th>Date</th>
                <th>Type</th>
                <th>Result</th>
                <th>Versus</th>
            </thead>
            {%  for result in archtype_match_results['results'] %}
                {% if result.both_lists_recorded() %}
                <tr>
                    <td>{{ result.list1.tourney.get_tourney_name_as_url() }}</td>
                    <td>{{ result.list1.tourney.tourney_date }}</td>
                    <td>{{ result.list1.tourney.tourney_type }}</td>
                    <td>{{ result.get_result_and_score_for_archtype(archtype_id) }}</td>
                    <td>{{ result.versus(archtype_id, url_root) | safe }}</td>
                </tr>
                {% endif %}
         {% endfor %}
        </table>
    </div>

    <script>
        var archtype_id = {{ archtype_id  | safe }}
        var tags        = {{ archtype.get_tags() | tojson | safe }}
        var alltags     = {{ all_tags | tojson |safe }}

        new Taggle("alltags", { tags : alltags})

        new Taggle("tags", {
            tags : tags,
            duplicateTagClass: 'bounce',
            onTagAdd: function(event, tag) {
                var dataContent =  JSON.stringify( { data: { 'tag': tag , 'archtype_id': archtype_id } } );
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/add_tag",
                    dataType: "json",
                    data: dataContent,
                    success: function (data) {
                    },
                    error: function (data) {
                    },
                });
            },
            onTagRemove: function(event, tag) {
                var dataContent =  JSON.stringify( { data: { 'tag': tag , 'archtype_id': archtype_id } } );
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/remove_tag",
                    dataType: "json",
                    data: dataContent,
                    success: function (data) {
                    },
                    error: function (data) {
                    },
                });
            }
        });
    </script>

    <script>
    $(document).ready( function () {
        $('#results').dataTable( {
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            "order": [[ 1, "desc" ]]

        });
    } );
</script>

{% endblock %}