{% extends "layout.html" %}
{% block content %}

    <style>
        td {
            text-align:center;
            vertical-align:middle;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static/css/vendor/taggle.min.css">

    <table id="performance" class="compact display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>List</th>
        <th>Number of lists</th>
        <th>Win Percentage</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Draws</th>
        <th>Total matches</th>
        <th>Points destroyed</th>
        <th>Efficiency</th>
        <th>Points survived</th>
        <th>Efficiency</th>
      </tr>
  </thead>
    <tr>
          <td>{{ stats['pretty_print'] | safe }}</td>
          <td>{{ archtype.num_lists() }}</td>
          <td>{{ stats['perc'] }}</td>
          <td>{{ stats['wins'] }}</td>
          <td>{{ stats['losses'] }}</td>
          <td>{{ stats['draws'] }}</td>
          <td>{{ stats['total'] }}</td>
          <td>{{ stats['points_for'] }}</td>
          <td>{{ stats['points_for_efficiency'] }}</td>
          <td>{{ stats['points_against'] }}</td>
          <td>{{ stats['point_against_efficiency'] }}</td>
    </tr>
</table>
    <br>
    Tags for this Archtype.  To use, start typing in a tag, and hit the 'Tab' key to finish the tag.
    <div class="input textarea clearfix" id="tags">
    </div>

    All tags ever submitted
    <div class="textarea clearfix" id="alltags" readonly>
    </div>

    <script>
        var archtype_id = {{ archtype_id  | safe }}
        var tags        = {{ archtype.get_tags() | tojson | safe }}
        var alltags     = {{ all_tags | tojson |safe }}

        new Taggle("alltags", { tags : alltags})

        new Taggle("tags", {
            tags : tags,
            duplicateTagClass: 'bounce',
            onTagAdd: function(event, tag) {
                var dataContent =  JSON.stringify( { data: { 'tag': tag , 'archtype_id': archtype_id } } );
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/add_tag",
                    dataType: "json",
                    data: dataContent,
                    success: function (data) {
                    },
                    error: function (data) {
                    },
                });
            },
            onTagRemove: function(event, tag) {
                var dataContent =  JSON.stringify( { data: { 'tag': tag , 'archtype_id': archtype_id } } );
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/remove_tag",
                    dataType: "json",
                    data: dataContent,
                    success: function (data) {
                    },
                    error: function (data) {
                    },
                });
            }
        });
    </script>

{% endblock %}