{% extends "layout.html" %}
{% block content %}
<div>

</div>
<div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>
<script>
    $(function () {

    var colors = Highcharts.getOptions().colors,
        categories = ['Rebel', 'Imperial'],
        data = [{
            y: 55.11,
            color: colors[0],
            drilldown: {
                name: 'Rebels',
                categories: ['VT1300', 'X-Wing', 'Y-Wing', 'A-Wing'],
                data: [10.85, 7.35, 33.06, 2.81],
                color: colors[0]
            }
        }, {
            y: 44.99,
            color: colors[1],
            drilldown: {
                name: 'Imperial',
                categories: ['Tie-Fighter', 'Tie-Phantom', 'Tie-Interceptor', 'Lambda Shuttle', 'Tie-Bomber'],
                data: [0.20, 0.83, 1.58, 13.12, 5.43],
                color: colors[1]
            }
        }
         ],
        browserData = [],
        versionsData = [],
        i,
        j,
        dataLen = data.length,
        drillDataLen,
        brightness;


    // Build the data arrays
    for (i = 0; i < dataLen; i += 1) {

        // add browser data
        browserData.push({
            name: categories[i],
            y: data[i].y,
            color: data[i].color
        });

        // add version data
        drillDataLen = data[i].drilldown.data.length;
        for (j = 0; j < drillDataLen; j += 1) {
            brightness = 0.2 - (j / drillDataLen) / 5;
            versionsData.push({
                name: data[i].drilldown.categories[j],
                y: data[i].drilldown.data[j],
                color: Highcharts.Color(data[i].color).brighten(brightness).get()
            });
        }
    }

    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Faction breakout'
        },
        yAxis: {
            title: {
                text: 'Total percent usage'
            }
        },
        plotOptions: {
            pie: {
                shadow: false,
                center: ['50%', '50%']
            }
        },
        tooltip: {
            valueSuffix: '%'
        },
        series: [{
            name: 'Factions',
            data: browserData,
            size: '60%',
            dataLabels: {
                formatter: function () {
                    return this.y > 5 ? this.point.name : null;
                },
                color: 'white',
                distance: -30
            }
        }, {
            name: 'Ships',
            data: versionsData,
            size: '80%',
            innerSize: '60%',
            dataLabels: {
                formatter: function () {
                    // display only if larger than 1
                    return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%'  : null;
                }
            }
        }]
    });
});
</script>
{% endblock %}