{% extends "layout.html" %}
{% block content %}

<style>

    .main-section {
        width: 100%;
        height: 500px;
    }


    .charts {
        width: 100%;
        float: left;
    }
    .charts img {
        width: 100%;
        height: auto;
    }
    .checkboxes, .charts {
        height: 100%;
        overflow-y: scroll;
    }
     .checkboxes {
        margin-left: 100%;
        padding: 0px;
        display: none;
    }


    .doughnut-graph {
       border-style: solid;
       border-width: 2px;
       display: inline-block;
       margin: 2px;
    }

    .templates {
       display: none !important;
    }

    .inline-display {
        display: inline-flex;
    }


</style>

<div class="main-section">
    <div class="templates">
        <div class="doughnut-graph" style="width: 665px; height: 400px; margin: 8 auto"></div>
    </div>
    <input type="checkbox" class="top-32-filter" id="top-32-filter" value="top-32-filter">show top 32 only
    <div id="doughnuts" class="charts">
        <div id="faction-ship" class="inline-display"></div>
        <div id="ship-pilot" class="inline-display"></div>
        <div id="upgrade_type-upgrade" class="inline-display"></div>

    </div>


    <div class="checkboxes" name="faction-ship-checkboxes">
        factions-ships:<br>
        <input type="checkbox" name="checkboxGroup" class="faction-ship-count-checkbox"
                                                    id="faction-ship-count-checkbox"
                                                    value="faction-ship-count">count<br>
        <input type="checkbox" name="checkboxGroup"  class="faction-ship-points-checkbox"
                                                     id="faction-ship-points-checkbox"
                                                     value="faction-ship-points">points
        <br>
        <br>
        ships-pilots:<br>
        <input type="checkbox" name="checkboxGroup" class="ship-pilot-count-checkbox"
                                                    id="ship-pilot-count-checkbox"
                                                    value="ship-pilot-count">count<br>
        <input type="checkbox" name="checkboxGroup"  class="ship-pilot-points-checkbox"
                                                     id="ship-pilot-points-checkbox"
                                                     value="ship-pilot-points">points
        <br>
        upgrades_types-upgrades:<br>
        <input type="checkbox" name="checkboxGroup"  class="upgrade_type-upgrade-count-checkbox"
                                                     id="upgrade_type-upgrade-count-checkbox"
                                                     value="upgrade_type-upgrade-count">count

        <input type="checkbox" name="checkboxGroup" class="upgrade_type-upgrade-points-checkbox"
                                                    id="upgrade_type-upgrade-points-checkbox"
                                                    value="upgrade_type-upgrade-points">points<br>

    </div>
</div>

<script>

$( document ).ready(init );

function init() {
    console.log("init");
    $('#faction-ship-count-checkbox').prop("checked", true).change();
    $('#faction-ship-points-checkbox').prop("checked", true).change();
    $('#ship-pilot-count-checkbox').prop("checked", true).change();
    $('#ship-pilot-points-checkbox').prop("checked", true).change();
    $('#upgrade_type-upgrade-count-checkbox').prop("checked", true).change();
    $('#upgrade_type-upgrade-points-checkbox').prop("checked", true).change();

}

var top32Only = false;

$('.top-32-filter').change(function() {
    var $this = $(this);
    if ($this.is(':checked')) {
        top32Only=true;
    }
    else {
        top32Only=false;
    }
    $('#doughnuts #faction-ship').empty();
    $('#doughnuts #ship-pilot').empty();
    $('#doughnuts #upgrade_type-upgrade').empty();

    init();
});

$('.faction-ship-count-checkbox, .faction-ship-points-checkbox, .ship-pilot-count-checkbox, .ship-pilot-points-checkbox, .upgrade_type-upgrade-count-checkbox, .upgrade_type-upgrade-points-checkbox').change(function() {
    var $this = $(this);
    // $this will contain a reference to the checkbox
    var doughnutFactionDiv;
    var myclass = $(this).attr('class');
    if (myclass.indexOf("faction-ship") > -1) {
        doughnutFactionDiv = $('#doughnuts #faction-ship')
    }
    else if ( myclass.indexOf("ship-pilot") > -1) {
        doughnutFactionDiv = $('#doughnuts #ship-pilot')
    }
    else if ( myclass.indexOf("upgrade_type-upgrade") > -1) {
        doughnutFactionDiv = $('#doughnuts #upgrade_type-upgrade')
    }
    else {
        console.log("no div found");
    }
    if ($this.is(':checked')) {
        console.log("checked");
        var newDiv = $('.templates .doughnut-graph').clone();
        doughnutFactionDiv.append( newDiv );
            var url = "/get_chart_data";
            console.log("getting data");
            $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: url,
                    data: JSON.stringify({ data: { 'checked' : this.checked, 'value' : this.value, 'name': this.name, 'top32' : top32Only }  } ),
                    success: function (data) {
                        var donutData = data['data'];
                        console.log("got response");
                        console.log(donutData);
                        console.log(doughnutFactionDiv);
                        makeDonutGraph( donutData, data.title, data.firstCategory, data.secondCategory, newDiv );
                    },
                    dataType: "json"
            });


    }
    else
    {
        doughtnutFactionDiv.empty();
    }
});
</script>


<script>



    function makeDonutGraph( data, title, level1Name, level2Name,  containerName ) {
        var level1Data = [],
            level2Data = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;


        for (i = 0; i < dataLen; i += 1) {
            // add level 1  data
            level1Data.push({
                name: data[i].drilldown.name,
                y: data[i].y,
                color: data[i].color
            });

            //add level 2 data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                level2Data.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get()
                });
            }
        }
        // Create the chart
        containerName.highcharts({
            chart: {
                type: 'pie'
            },
            title: {
                text: title
            },
            yAxis: {
                title: {
                    text: 'Total percent usage'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: '%'
            },
            series: [{
                name: level1Name,
                data: level1Data,
                size: '60%',
                dataLabels: {
                    formatter: function () {
                        return this.y >= 5 ? this.point.name : null;
                    },
                    color: 'white',
                    distance: -30
                }
            }, {
                name: level2Name,
                data: level2Data,
                size: '80%',
                innerSize: '60%',
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1
                        return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%'  : null;
                    }
                }
            }]
        });
    }



</script>




{% endblock %}