{% extends "layout.html" %}
{% block content %}

<br>
<table id="players" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>

    <th>Player Name</th>
    <th>Player Id</th>
    <th>Division</th>
    <th>Escrow lists</th>
  </thead>
  <tbody>
  </tr>
      {% for m in matches %}
      <tr>
         <td>{{ m['round'] }}</td>
         <td>{{  m['player1_name'] }}</td>
         <td >{{ m['p1_division']  }}</td>
         <td >{{ m['player2_name']  }}</td>
         <td >{{ m['p2_division']  }}</td>
         <td>{{  m['state'] }}</td>
         <td>{{  m['p1_score'] }}</td>
         <td>{{  m['p2_score'] }}</td>
         <td >url here</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#matches').dataTable({
            "order": [[ 1, "desc" ]]
});
    } );
</script>
{% endblock %}