{% extends "layout.html" %}
{% block content %}


<form id="form"
      class="grid-form"
      action="{{ url_for('update_tourney_details') }}"
      method=POST
      class="add-entry"
      enctype="multipart/form-data"
      data-parsley-validate >
    <fieldset>
        <legend>Click on a cell to edit tourney details</legend>
        <div data-row-span="3">
            <div data-field-span="1">
                <label>Tourney name</label>
                <input type="text" name="name" value="{{ tourney.tourney_name }}" required/>
            </div>
                <div data-field-span="1">
                <label>Tourney format</label>
                <input type="text" name="tourney_format_custom" id="tourney_format_custom" value="{{ tourney.format }}" data-parsley-notDefaultSelection='' data-parsley-group="tourney-format-custom" />
            </div>
            <div data-field-span="1">
                <label>Or pick a different format</label>
                <select id="tourney_format_dropdown" name="tourney_format_dropdown"  placeholder="Select a format that matches your tourney" data-parsley-notDefaultSelection='' data-parsley-group="tourney-format-default">
                    <option></option>
                    {%  for f in tourney_formats %}
                        <option value="{{ f }}">{{ f }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div data-row-span="4">
            <div data-field-span="1">
                <label>Date played</label>
                <input type="text" id="datepicker" name="datepicker" value="{{ tourney_date }}" required/>
            </div>
            <div data-field-span="1">
                <label>Type of tourney</label>
                <select id="tourney_type" name="tourney_type" placeholder="Select a tourney type" required>
                    <option value="World championship">World championship</option>
                    <option value="Nationals">Nationals</option>
                    <option value="System Open">System Open</option>
                    <option value="Regional">Regional</option>
                    <option value="Store championship">Store championship</option>
                    <option value="Vassal play">Vassal play</option>
                    <option value="Other">Other</option>
                </select>
                <script>
                    var tourney_type     = {{ tourney.tourney_type | tojson | safe }}
                    document.getElementById('tourney_type').value = tourney_type;
                </script>
            </div>
            <div data-field-span="1">
                <label>Round length</label>
                <input type="text" name="round_length_userdef" id="round_length_userdef" value="{{ tourney.round_length }}"  data-parsley-type="integer" data-parsley-group="round-len2" data-parsley-notDefaultSelection='' />
            </div>
            <div data-field-span="1">
                <label>Number of participants</label>
                <input type="text" name="participant_count" id="participant_count" data-parsley-type="integer" value="{{ tourney.participant_count }}"  required/>
            </div>
        </div>
        <div data-row-span="4">
            <div data-field-span="1">
                <label>Country</label>
                <select id="country" name="country"  required></select><br>
            </div>
            <div data-field-span="1">
                <label>State/Provence</label>
                <select id="state" name="state" selected="{{ tourney.venue.state }}" required></select><br>
            </div>
            <div data-field-span="1">
                <label>City</label>
                <input type="text" name="city" value="{{ tourney.venue.city }}" required/>
            </div>
            <div data-field-span="1">
                <label>Venue name</label>
                <input type="text" id="venue" name="venue" value="{{  tourney.venue_name() }}" required/>
            </div>
        </div>
    </fieldset>
    <input type="hidden" name="tourney_id" value="{{ tourney_id }}" />
    <div class="invalid-form-error-message"></div>
    <input type="submit" class="btn btn-info validate" />
</form>

<script>
// just for the demos, avoids form submit

function field_is_valid(formInstance, field_name) {
    if (formInstance.isValid(field_name, true) ) {
        $('.invalid-form-error-message').html('');
        return true;
    }
    return false;
}

function round_len1_valid(formInstance)
{
    return field_is_valid(formInstance, 'round-len1');
}

function round_len2_valid(formInstance)
{
    return field_is_valid(formInstance, 'round-len2');

}

function tourney_format_default_valid(formInstance)
{
    return field_is_valid(formInstance, 'tourney-format-default');
}


function tourney_format_custom_valid(formInstance)
{
    return field_is_valid(formInstance, 'tourney-format-custom');
}


$(document).ready(function(){

    var tourney_type     = {{ tourney.tourney_type | tojson | safe }}
    var country          = {{ tourney.get_country() | tojson | safe }}
    var state            = {{ tourney.get_state() | tojson | safe }}
    var venues           = {{ venues | tojson | safe  }}
    console.log(venues);

    document.getElementById('tourney_format_custom').addEventListener('keydown', function(e) {
        $('#tourney_format_dropdown').select2( 'val', '' );

    }, false );

    $('#tourney_format_dropdown').on( 'change', function(e) {
        $('#tourney_format_custom').val("")
    });

    $('#venue').autocomplete( { source: venues});


    window.ParsleyValidator.addValidator('notDefaultSelection', function(value, requirement) {
            return value.length > 0 },32 );

    window.ParsleyValidator.addValidator('validRoundLength', function(value, requirement) {
            return value === parseInt( data, 10 )},32 );
    populateCountries("country", "state")
    setCountryAndStateValue( "country", country, "state", state);
    $('#country').select2();
    $("#datepicker").datepicker({ startDate:'01/01/2012' } ); // first selectable date is 1st Jan 2000 });
    $('#form').parsley();
    $('#tourney_type').select2().val = tourney_type;
    $('#round_length_dropdown').select2();
    $('#tourney_format_dropdown').select2();
    $('#sets').select2();
    $('#sets > option').prop("selected", "selected");
    $("#sets").trigger("change");
    $('#form').parsley().subscribe('parsley:form:validate', function (formInstance) {
        // if one of these blocks is not failing do not prevent submission
        // we use here group validation with option force (validate even non required fields)

        if ( round_len1_valid(formInstance) ) {
            if ( tourney_format_default_valid(formInstance) ) {
                return;
            }
            else if ( tourney_format_custom_valid(formInstance) ) {
                return;
            }
        }
        else if ( round_len2_valid(formInstance) ) {
            if ( tourney_format_default_valid(formInstance) ) {
                return;
            }
            else if ( tourney_format_custom_valid(formInstance) ) {
                return;
            }

        }

        formInstance.submitEvent.preventDefault();
        if ( tourney_format_default_valid(formInstance) == false && tourney_format_custom_valid(formInstance) == false ) {
            $('.invalid-form-error-message')
                    .html("You must correctly fill the fields of at least one of the tourney format blocks!")
                    .addClass("filled");
        }
        return;
  });

});
</script>
{% endblock %}
