{% extends "layout.html" %}
{% block content %}
<table id="venues" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Venue</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>Lookup</th>
      </tr>
    </thead>
    <tbody>
      {% for v in venues %}
      <tr>
         <td >{{ v.name }}</td>
         <td>{{ v.city }}</td>
         <td>{{ v.state}}</td>
         <td>{{ v.country}}</td>
         <td>{{ v.latitude}}</td>
         <td>{{ v.longitude}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready( function () {
        $('#venues').dataTable({
            "order": [[1, "desc"]],
            lengthMenu: [[10, 50, -1], [10, 50, "All"]],

        });
    });
</script>
{% endblock %}