{% extends "layout.html" %}
{% block content %}
    <style>
        #mapclass { height: 180px; }
    </style>

   <div id="map" name="map" style="width: 1050px; height:688px"></div>


<script>

    var geoData = {{ data | safe }};
    var markers = [];

    var testData = {
      max: 20,
      data: geoData
              //[{lat: 24.6408, lng:46.7728, count: 3},{lat: 50.75, lng:-1.55, count: 1}, ]
    };


    var topLevelConfig = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          // if scaleRadius is false it will be the constant radius used in pixels
          "radius": 2,
          "maxOpacity": .8,
          // scales the radius based on map zoom
          "scaleRadius": true,
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": true,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
          valueField: 'count'
    };

    var layerFiveHeatMapConfig = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          // if scaleRadius is false it will be the constant radius used in pixels
          "radius": 75,
          "maxOpacity": .8,
          // scales the radius based on map zoom
          "scaleRadius": false,
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": true,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
          valueField: 'count'
    };

    var heatMapLayer = new HeatmapOverlay(topLevelConfig);
    var zoomedHeatMapLayer = new HeatmapOverlay(layerFiveHeatMapConfig);

    var baseLayer = L.tileLayer(
            'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
            {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18,
                id: 'sozin.pcehdkkk',
                accessToken: 'pk.eyJ1Ijoic296aW4iLCJhIjoiY2lsbW80cGZyNjhscXV1bWM3bHQ3bmczYyJ9.ezV5ULppmFVoz4A9aNQEOw'
            }
    );

    for( var i = 0; i < geoData.length; i++ ) {
        var marker = L.marker( [geoData[i]['lat'],
                    geoData[i]['lng']],
                   { 'draggable':false,

                   }
        )
        marker.bindPopup( geoData[i]['name']);
        marker.on('mouseover', function (e) {
            this.openPopup();
        });
        marker.on('mouseout', function (e) {
            this.closePopup();
        });
        markers.push(marker);
    }

    var markerLayer = L.layerGroup( markers );
    var mymap = L.map('map', { layers : [ baseLayer, heatMapLayer]}).setView([51.505, -0.09], 2);

    heatMapLayer.setData( testData );
    zoomedHeatMapLayer.setData( testData );

    mymap.on( 'zoomend', function() {
       var currentZoom = mymap.getZoom();
       //console.log(currentZoom);
       if ( currentZoom >= 5 ) {
           mymap.addLayer(markerLayer);
           mymap.removeLayer(heatMapLayer);
           mymap.addLayer(zoomedHeatMapLayer);
           zoomedHeatMapLayer._draw();
       } else {
           mymap.removeLayer(markerLayer);
           mymap.removeLayer(zoomedHeatMapLayer);
           mymap.addLayer(heatMapLayer);
           heatMapLayer._draw();

       }
    });


</script>

<style>
    td {
        text-align:center;
        vertical-align:middle;
    }
</style>
<br>
<hr>
    <table id="venues" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Venue</th>
        <th>Num. events</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Lat</th>
        <th>Lon</th>
      </tr>
    </thead>
    <tbody>
      {% for v in venues %}
          {% if v.valid_venue() %}
          <tr>
             <td>{{ v.id }}</td>
             <td >{{ v.get_name() }}</td>
             <td>{{ v.get_num_events() }}</td>
             <td>{{ v.get_city() }}</td>
             <td>{{ v.get_state()}}</td>
             <td>{{ v.get_country()}}</td>
             <td>{{ v.latitude}}</td>
             <td>{{ v.longitude}}</td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
<script>

    var editor;


    $(document).ready( function () {

        editor = new $.fn.dataTable.Editor( {
            ajax: "/edit_venue_geo",
            table: "#venues",
            fields:  [
                {
                    label: "Latitude",
                    name: "lat"
                },
                {
                    label: "Longitude",
                    name: "lng"
                },
                {
                    label: "Name",
                    name: "name",
                    //type: "hidden"
                },
                {
                    label: "Num. Events",
                    name: "num_events",
                    type: "hidden"
                },
                {
                    label: "City",
                    name: "city",
                    //type: "hidden"
                },
                {
                    label: "State",
                    name: "state",
                    //type: "hidden"
                },
                {
                    label: "Country",
                    name: "country",
                    //type: "hidden"
                },
                {
                    label: "Id",
                    name: "id",
                    type: "hidden"
                }] } )

        $('#venues').on( 'click', 'tbody td:not(:first-child)', function (e) {
            editor.bubble( this );
        } );

        $('#venues').dataTable({
            columns: [
                { data: "id" },
                { data: "name" },
                { data: "num_events" },
                { data: "city" },
                { data: "state" },
                { data: "country" },
                { data: "lat" },
                { data: "lng" } ],
            "order": [[2, "desc"]],
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            lengthMenu: [[10, 50, -1], [10, 50, "All"]],

        });
    });
</script>
{% endblock %}