{% extends "style_bootstrap.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Use the Force!</h1>
        <p>XWing List Juggler is a site that collects X-Wing tournament results.  Working with tournament software and squad builders like YASB, Voidstate, and Fab's, List Juggler lets you create tournaments, browse and search lists, and ponder the evolving X-Wing meta.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Create</h2>
          <p>Contribute a tournament to this site!  List Juggler imports from Cryodex, and supports manual tournament creation. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Browse</h2>
          <p>Have a look at recent tournament results, browse popular lists, and run custom searches. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Download</h2>
          <p>Do-it-yourself data scientist type?  Download the underlying source data and go crazy!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



{% endblock %}