{% extends "layout.html" %}
{% block content %}
    <form
        action="{{ url_for('submit_league_match_schedule') }}"
        method=POST
    >
    <label>Set the date and time for {{ match.player1.get_name() }} versus {{ match.player2.get_name() }}</label>
        <br>
        <br>
    <input type="text" id="datetime12" name="datetime12"
           data-format="DD-MM-YYYY HH:mm A"
           data-template="DD / MMM / YYYY     HH : mm A" name="datetime" value="{{ today }} 01:00 AM">
<select name="timezone" id="timezone" style="width:200px">
    {% for tz in timezones %}
        <option>{{ tz }}</option>
    {% endfor %}
</select>
    <input type="hidden" name="match_id" value="{{ match.id }}" /><br>
    <input type="submit" class="btn btn-info validate" />

    </form>

    <script src="static/js/vendor/combodate.js"></script>
    <script>
        $(document).ready(function () {
            $('#datetime12').combodate();
            $('#timezone').select2();
        });

    </script>

{% endblock %}