{% extends "layout.html" %}
{% block content %}
<style>
    td {
        text-align:center;
        vertical-align:middle;
    }
</style>
<br>
<br>

 <div><b>{{ league.get_name() }} Tiers</b><br>
{% for tier in tiers %}
    {{ tier.get_name() }} : <a href="/tier_rankings?tier_id={{ tier.id }}">rankings</a> | <a href="/tier_matches?tier_id={{ tier.id }}">matches</a>
    <br>
{% endfor %}
<br>{{ league.complete_games_text(session) }} games have been completed
<br>
<br><a href="/add_interdivision_league_match">Create an inter-divisional league match</a>

     <br><a href="/manage_escrows?league_id={{ league.id }}">Esrow management page</a>

<br><a href="/league_players?league_id={{ league.id }}">All Season Six players</a>
<br>
<br>
Here's a <a href="http://xwvassal.info">bunch of information</a> about the current season of Vassal League.
 <hr><a href="/league_season_one">Go here for old Season one data</a><br>
<a href="/league_season_two">Go here for old Season two data</a><br>
<a href="/league_season_three">Go here for old Season three data</a><br>
<a href="/league_season_four">Go here for old Season four data</a><br>
<a href="/league_season_five">Go here for old Season five data</a><br>
{% endblock %}