{% extends "layout.html" %}
{% block content %}
<style>
P { text-align: center }
</style>

{% if match.player1.id == selected_player_id %}
    {% set p1autofocus = "autofocus" %}
    {% set p2autofocus = "" %}
{% else %}
    {% set p2autofocus = "autofocus" %}
    {% set p1autofocus = "" %}
{% endif %}
If you need help, please <a href="https://docs.google.com/document/d/1_6Il-zEbNtnm9q5SZO3Z9mHUT2LpN3LNk6bnpDPME1w/pub">see this guide for help on how to escrow your list!</a><br>

After you've pasted in the link to your list, simply wait for your opponent's list to appear on the page!<br>

You can also set the date and time that the match is going to be played by clicking here: {{ match.get_schedule() }}
<br><br>
<form id="form"
      class="grid-form"
      action="{{ url_for('update_tourney_details') }}"
      method=POST
      class="add-entry"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Escrow your list!</legend>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Player 1</label>
                <input type="text"
                       name="player1"
                       value="{{ match.player1.get_name() | safe }}"/>
            </div>
            <div data-field-span="1">
                <label>Player 2</label>
                <input type="text" name="player2" value="{{ match.player2.get_name() | safe }}"  required/>
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Player 1</label>
                <input type="text" id="player1_url" name="player1_url"  placeholder="Insert player1 list URL here and hit the return key" {{ p1autofocus }}/>
            </div>
            <div data-field-span="1">
                <label>Player 2</label>
                <input type="text" id="player2_url" name="player2_url"  placeholder="Insert player2 list URL here and hit the return key" {{ p2autofocus }}/>
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Player 1 list</label>
                <span id="player1List">{{ match.get_player1_escrow_text() | safe  }}</span>
            </div>
            <div data-field-span="1">
                <label>Player 2 list</label>
                <span id="player2List">{{ match.get_player2_escrow_text() | safe }} </span>
            </div>
        </div>
    </fieldset>
</form>
<div>
<span id="player-list-stats"></span>
</div>
<script>


var match_id           = {{ match.id }}
var player1_id         = {{ match.player1.id }}
var player2_id         = {{ match.player2.id }}
var selected_player_id = {{ selected_player_id }}
var needs_escrow       = {{ needs_escrow  }}
var is_complete        = {{ match_complete }}
var timer = null;
var list_set_from_submit = null;
var player_submitted = null;

function pollForEscrow() {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/escrow_change?match_id=" + match_id,
        success: function (data) {
            player1List = document.getElementById('player1List');
            player2List = document.getElementById('player2List');

            if (list_set_from_submit && player_submitted == data.player1_id) {
                player1List.innerHTML = list_set_from_submit;
                player2List.innerHTML = data.player2_list;
            }
            else if (list_set_from_submit && player_submitted== data.player2_id) {
                player2List.innerHTML = list_set_from_submit;
                player1List.innerHTML = data.player1_list;
            }
            else if (!list_set_from_submit && player_submitted) {
                player1List.innerHTML = data.player1_list;
                player2List.innerHTML = data.player2_list;
            }
            if (!data.escrow_complete) {
                setTimeout(pollForEscrow, 1500);
            }
        },
        error: function (data) {
        },
        dataType: "json"
    })
}

$("#player1_url").keyup(function (e) {
    if (e.keyCode == 13) { //enter pressed
        onEnterPressed(player1_id, 'player1_url', 'player1List', 'player-list-stats');
    }
});

$("#player2_url").keyup(function (e) {
    if (e.keyCode == 13) { //enter pressed
        onEnterPressed(player2_id, 'player2_url', 'player2List', 'player-list-stats');
    }
});

function onEnterPressed(player_id, urlElementId, textAreaId, statsSpanId) {
    var playerurl = document.getElementById(urlElementId).value;
    textSpan = document.getElementById(textAreaId);
    textSpan.innerHTML = "Looking up your list..."

    var url = "/escrow_list_url?match_id=" + match_id +
            "&player_id=" + player_id +
            "&player_list_url=" + encodeURIComponent(playerurl);

    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: url,
        success: function (data) {
            list_set_from_submit = data.list_link + data.list_text
            textSpan = document.getElementById(textAreaId);
            textSpan.innerHTML = list_set_from_submit;
            player_submitted = player_id;
            statsSpan = document.getElementById(statsSpanId);
            var newList = "";
            summaryTable  = "<br><b>List Trivia</b><br>"
            summaryTable += newList + "Total times taken: " + data.total_count
            if ( parseInt(data.total_count) == 1 ) {
                summaryTable += ' (That is you!  Nice job, James T Kirk!)<br>'
            }
            else {
                summaryTable += "<br>"
            }
            summaryTable += "Times taken in tournaments: " + data.archtype_tourney_count + "<br>"
            summaryTable += "Times taken in league play: " + data.archtype_league_count + "<br>"
            if ( parseInt(data.archtype_tourney_count) > 0) {
                summaryTable += '<a href="' + data.archtype_url + '">More archtype info</a>'
            }
            statsSpan.innerHTML = summaryTable;
            if (is_complete==0) { //start polling if the match is open
                pollForEscrow();
            }
        },
        error: function (data) {
            textSpan = document.getElementById(textAreaId);
            textSpan.innerHTML = "something went wrong -- got response '" + data.responseJSON.message;
        },
        dataType: "json"
    });
}

</script>

{% endblock %}