{% extends "layout.html" %}
{% block content %}

<style>
    td {
        text-align:center;
        vertical-align:middle;
    }
</style>
<b>Player:</b> {{ player.get_name() }}<br>
<b>Tier:</b> <a href="{{ player.tier.get_challonge_url() }}">{{ player.tier.get_name() }}</a>  <br>
<b>Division:</b> {{ player.division.get_name() }}<br>
<b>Summary of results</b>
<hr>
<table id="stats" class="display" cellspacing="0" width="100%" >
  <thead>
  <tr>
    <th>Games Played</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
    <th>MoV</th>
    <th>Points Destroyed</th>
    <th>Points Lost</th>
    <th>Rebel Lists</th>
    <th>Imperial Lists</th>
    <th>Scum Lists</th>

  </tr>
  </thead>
  <tbody>
      <tr>
         <td>{{ stats['total']}}</td>
         <td>{{ stats['wins']}}</td>
         <td>{{ stats['losses']}}</td>
         <td>{{ stats['draws']}}</td>
         <td>{{ stats['mov']}}</td>
         <td>{{ stats['killed']}}</td>
         <td>{{ stats['lost']}}</td>
         <td>{{ stats['rebs']}}</td>
         <td>{{ stats['imps']}}</td>
         <td>{{ stats['scum']}}</td>
      </tr>
  </tbody>
</table>
<hr>
<b>League matches</b>
<table id="matches" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Updated at</th>
    <th>Tier</th>
    <th>Division</th>
    <th>Match Page</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Match State</th>
    <th>VLog</th>
    <th>Player 1 Score</th>
    <th>Player 2 Score</th>
    <th>Player 1 List</th>
    <th>Player 2 List</th>
  </tr>
  </thead>
  <tbody>
      {% for m in player.matches %}
      <tr>
         <td>{{  m.updated_at}}</td>
         <td>{{  m.player1.tier.get_name() | safe}}</td>
         <td>{{  m.player1.division.get_name() | safe}}</td>
        <td>{{ m.get_url() }}</td>
         <td>{{  m.player1.get_name()}}</td>
         <td>{{  m.player2.get_name()}}</td>
         <td>{{  m.state }}</td>
          {% if m.is_complete() %}
                 <td>{{  m.get_vlog_url() | safe }}</td>
                 <td>{{  m.player1_score }}</td>
                 <td>{{  m.player2_score }}</td>
            {% else %}
                 <td>{{  m.get_report_match_url() }}</td>
                 <td></td>
                 <td></td>
            {% endif %}
         <td >{{ m.get_player1_list_display() | safe }}
         <td >{{ m.get_player2_list_display() | safe }}
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
    $(document).ready( function () {

        $('#matches').dataTable({
		paging: false,
		searching: false,
        sorting:false,
		lengthChange: false,
		info: false,
		destroy: true});

    } );
</script>

{% endblock %}