{% extends "layout.html" %}
{% block content %}

<style>
    td {
        text-align:center;
        vertical-align:middle;
    }
</style>
<b>{{ league.get_name() }} Players</b><br>
Click on the player's home page to see their league stats, their games, subscribe to their list escrow, etc.
    <hr>
    <br>
<table id="players" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Tier</th>
    <th>Division</th>
    <th>Player Home Page</th>
    <th>Number of Games Played</th>
  </tr>
  </thead>
  <tbody>
      {% for p in players %}
      <tr>
         <td>{{ p.tier.get_name() }}</td>
         <td>{{ p.division.get_name() }}</td>
         <td>{{ p.get_url() }}</td>
         <td>{{ p.num_games_played() }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#players').dataTable({
            "order": [[ 1, "desc" ]],
            lengthMenu: [ [10, 50, -1], [10, 50, "All"] ],
            iDisplayLength: -1,
});
    } );
</script>
{% endblock %}