{% extends "layout.html" %}
{% block content %}

<style>
p.message {
    font: 15px arial, sans-serif;
}
</style>
<div id="help-message">
    <p class="message"> Hi!  ListJuggler needs to re-generate the list rankings.  It is a decent sized computation, and so List Juggler uses a 'cache' to implement it.  If you want to learn more about this interesting problem, here's <a href="https://en.wikipedia.org/wiki/Cache_(computing)">the wikipedia article!</a> </p><br>

    <p class="message">It does this once per hour.</p><br>

    <p class="message">This takes about two minutes to do.  This page will update once it is done. Thank you for your patience!</p><br>
</div>

<hr>
<div id="result"></div>
<hr>

<script>

    messages = [
        "Interrogating Bothans...",
        "Searching asteroid field...",
        "Hacking into Imperial Navy Ship Registry...",
        "Scanning Kuat Drive Yards database... ",
        "Detailing Lord Vader's Tie X1...",
        "Bulls eying womprats back home..."]

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function waitText() {
        message = messages[getRandomInt(0, 5)]
        $("#result").empty().append(message);
    }


    function onSearch() {

        /* get some values from elements on the page: */
        var timer;

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/listrank_generate_cache",
            beforeSend: function() {
                timer = setInterval( waitText, 1000);
            },
            success: function (data) {
                clearInterval( timer);
                $("#result").empty().append(data.responseText);
                $("#help-message").empty();

            },
            error: function (data) {
                clearInterval( timer);
                $("#result").empty().append(data.responseText);
                $("#help-message").empty();

            },
            dataType: "json"
        });
    }

    $(document).ready( function () {
        onSearch();
    } );

</script>
{% endblock %}