{% extends "layout.html" %}
{% block content %}

    <script>
        var entryCount = 0;
        var ships_and_pilots = {{ meta.ships_full() | tojson | safe }};
        var upgrades         = {{ meta.upgrades()| tojson | safe }};
        var tourney_list_id  = {{ tourney_list_id }};
        var tourney_id       = {{ tourney_id }}

    </script>

    <style>
        .charts {
            float: left;
        }
    </style>

    <div class="main-section">
        <div class="charts">
            <img src={{ image_src }}>
        </div>
        <div class="entries">
            <div>
                <b>Tourney:</b>  {{ tourney.get_tourney_name() }}<br>
                <b>Player name:</b>  {{ tourney_list.player.get_player_name() }}<br>
                <b>Player faction:</b> {{  tourney_list.faction().description }}<br>
                <b>List total:</b> <p class="alignright sub-total">{{ tourney_list.points() }}</p>
            </div>
            <br>
            {% for ship in tourney_list.ships() %}
                <b>{{ ship.ship_pilot.ship_type.description }} -- {{  ship.ship_pilot.pilot.name }}</b><p class="alignright">{{ ship.ship_pilot.pilot.cost }}</p>
                <br>
                {% for ship_upgrade in ship.upgrades %}
                    {% if ship_upgrade.upgrade %}
                        <i class="tab">{{ ship_upgrade.upgrade.name }}</i>  <p class="alignright">{{ ship_upgrade.upgrade.get_cost(tourney_list.archtype_list.has_vaksai(),
                        tourney_list.archtype_list.has_tiex1(),
                        tourney_list.archtype_list.has_renegade())  }}</p><br>
                    {% endif %}
                {% endfor %}
            {%  endfor %}
        <br>
        <i>Thanks for entering this list!  What next?</i>
        <button type="button" onclick="deleteAndStartOver()">Oops, its wrong, let me try that again</button><br>
        <br><button type="button" onclick="doAnotherList()">Looks good, give another random list to enter!</button><br>
        <br>
        <button type="button" onclick="returnToResults()">Looks good, take me back to the tourney results page! </button>


        </div>
    </div>

    <script>
        function doAnotherList() {
            window.location.replace("/enter_list?tourney_id=" + tourney_id);
        }

        function deleteAndStartOver() {
            if ( window.confirm("Are you sure you want to delete this list and start over?")) {
                window.location.replace("/delete_list_and_retry_list_entry?tourney_list_id=" + tourney_list_id );
            }
        }

        function returnToResults() {
            window.location.replace("/get_tourney_details?tourney_id=" + tourney_id );
        }


    </script>
{% endblock %}
