{% extends "layout.html" %}
{% block content %}

    <script>
        var entryCount = 0;
        var ships_and_pilots = {{ meta.ships_full()|tojson }};
        var upgrades         = {{ meta.upgrades()|tojson }};
        var tourney_list_id  = {{ tourney_list_id }};
        var tourney_id       = {{ tourney_id }}

    </script>

    <style>

        .main-section {
            width: 100%;
            height: 500px;
        }
        .image {
            width: 66%;
            float: left;
        }
        .image img {
            width: 100%;
            height: auto;
        }
        .entries, .image {
            height: 100%;
            overflow-y: scroll;
        }
         .entries {
            margin-left: 66%;
            padding: 20px;
        }
        .tab { margin-left: 40px; }

       .alignright {
	        float: right;
        }

        p {
            padding: 0px;
            margin: 0px;
        }

        .sub-total {
            border-bottom: 1px solid #000;
        }

    </style>

    <div class="main-section">
        <div class="image">
            {{  tourney_list.player_name_stripped()  }}
            <img src={{ image_src }}>
        </div>
        <div class="entries">
            <div>
                <b>Tourney:</b>  {{ tourney.tourney_name }}<br>
                <b>Player name:</b>  {{ tourney_list.player_name_stripped() }}<br>
                <b>Player faction:</b> {{  tourney_list.list.faction.description }}<br>
                <b>List total:</b> <p class="alignright sub-total">{{ tourney_list.list.points }}</p>
            </div>
            <br>
            {% for ship in tourney_list.list.ships %}
                <b>{{ ship.ship_pilot.ship_type.description }} -- {{  ship.ship_pilot.pilot.name }}</b><p class="alignright">{{  meta.get_ship_pilot_cost( ship.ship_pilot.ship_type.description,  ship.ship_pilot.pilot.name ) }}</p>
                <br>
                {% for upgrade in ship.upgrades %}
                    <i class="tab">{{ upgrade.upgrade }}</i>  <p class="alignright">{{ meta.get_upgrade_cost( upgrade ) }}</p><br>
                {% endfor %}
            {%  endfor %}
        <br>
        <i>Thanks for entering this list?  What next?</i>
        <br><button type="button" onclick="doAnotherList()">Looks good, I want to do another!</button>
        <br>
        <br>
        <button type="button" onclick="deleteAndStartOver()">Oops, its wrong, let me try that again</button>

        </div>
    </div>

    <script>
        function doAnotherList() {
            window.location.replace("/enter_list?tourney=" + tourney_id);
        }

        function deleteAndStartOver() {
            window.location.replace("/delete_list_and_retry?tourney_list_id=" + tourney_list_id );
        }

    </script>
{% endblock %}
