{% extends "layout.html" %}
{% block content %}
    <style>

        .main-section {
            width: 100%;
            height: inherit;
        }
        .image {
            width: 66%;
            float: left;
        }
        .image img {
            width: 100%;
            height: auto;
        }
        .entries, .image {
            height: 100%;
        }
         .entries {
            margin-left: auto;
            padding: 20px;
            display: inline-block;

        }
        .squad {
            display: none;

        }

        .error_text {
            color: red;
        }



        .squad-member {
            width: 350px;
            background-color: #ddd;
            margin: 10px;
            padding: 20px;
            display: inherit;
        }

        .row {
            margin: 5px 0;
        }

        .row-label {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-weight: bold;
        }

        .row-value {
            display: inline-block;
            width: 150px;
        }

        .row-value .select {
            width: 150px;
        }

        .row-cost {
            display: inline-block;
            width: 31px;
            text-align: right;
        }

        .sub-total {
            text-align: right;
            margin-left: 271px;
            width: 20px;
            border-top: 1px solid #000;
        }

        .total {
            text-align: right;
            margin-left: 300px;
            width: 20px;
            border-top: 1px solid #000;
            font-weight: bold;
        }

        .template {
            display: none !important;
        }

    </style>

    <script>
        var entryCount = 0;
        var ships_and_pilots = {{ meta.ships_full() | tojson | safe }};
        var upgrades         = {{ meta.upgrades()|tojson | safe }};
        var tourney_id       = {{ tourney_id }};
        var tourney_list_id  = {{ tourney_list_id }};
    </script>


    <div class="main-section">

{#        <div class="image">#}
{#            {{  tourney_list.player.player_name  }}#}
{#            <img src={{ image_src }}>#}
{#        </div>#}

        <form id="main-section-form"
              name="main-section-form"
              class="grid-form"
              enctype="multipart/form-data"
              onsubmit="return false;">

            <fieldset>
                <legend>tourney details</legend>
                <div data-row-span="4">

                <div data-field-span="1">
                    <label>Player name</label>
                    <textarea rows="1" name="player" disabled>{{ tourney_list.player.get_player_name() }}</textarea>
                </div>
                <div data-field-span="1">
                    <label>Tourney name</label>
                    <textarea rows="1" name="player" disabled>{{ tourney.get_tourney_name()}} </textarea>
                </div>
                <div data-field-span="1">
                    <label>Tourney date</label>
                    <textarea rows="1" name="player" disabled>{{ tourney.tourney_date}}  </textarea>
                </div>
                <div data-field-span="1">
                    <label>Tourney type</label>
                    <textarea rows="1" name="player" disabled>{{ tourney.tourney_type}} </textarea>
                </div>
            </div>
            </fieldset>
        </form>

<script>
    $(document).ready(function() {
        document.getElementById('yasb').focus();
});
</script>

        <form id="list_entry_options-form"
              name="list_entry_options-form"
              class="grid-form"
              enctype="multipart/form-data"
              onsubmit="return false;"
              data-parsley-validate >
            <fieldset>
            <legend>Fetch the list from YASB, Voidstate, or Fab!</legend>
                <div data-row-span="4" class="list_entry_options" id="list_entry_options">
                <div class="yasbdiv" id="yasbdiv" data-field-span="1">
                    <label>First Paste the YASB URL into the blank text area above the 'get it' button, and then click the button</label>
                    <input type="text" id="yasb" name="yasb"  data-parsley-type="url"  />
                    <button name="getYASBList" id="getYASBList" style="width:200px;height:20px"  disabled>get it!</button>

                </div>
                <div name="voidstatediv" id="voidstatediv" data-field-span="1">
                    <label><b>Or </b>First paste the voidstate list id (not the URL! for example, "216930") in the text area above the 'get it' button, and then click the  button</label>
                    <input type="text" id="voidstate" name="voidstate"  data-parsley-type="integer" />
                    <button name="getVoidStateList" id="getVoidStateList" style="width:200px;height:20px"  disabled>get it!</button>
                </div>
                <div name="voidstatediv" id="voidstatediv" data-field-span="1">
                    <label><b>Or</b> First Paste the Fab's Squad builder URL in the text area above the 'get it', and then click the button</label>
                    <input type="text" id="fab" name="fab"  data-parsley-type="url" />
                    <button name="getFabList" id="getFabList" style="width:200px;height:20px"  disabled>get it!</button>
                </div>
                <div data-field-span="1">
                    <label>xws endpoint fetch status log</label>
                    <span class="error_text" id="listFetchErrorMessage"></span>
                </div>
            </div>
            <legend>Or enter the list manually: select a faction to begin</legend>
            <div data-row-span="1">
                <div class="choose-faction" data-field-span="1">
                    <button class="faction-choice">imperial</button>
                    or
                  <button class="faction-choice">rebel</button>
                    or
                  <button class="faction-choice">scum</button>
                </div>
            </div>
            </fieldset>
        </form>


        <script>
            $('#list_entry_options-form').parsley();
            document.getElementById('yasb').addEventListener('keydown', function(e) {
                document.getElementById('getYASBList').disabled = false;

            }, false );
            document.getElementById('voidstate').addEventListener('keydown', function(e) {
                document.getElementById('getVoidStateList').disabled = false;

            }, false );
            document.getElementById('fab').addEventListener('keydown', function(e) {
                document.getElementById('getFabList').disabled = false;

            }, false );
        </script>

    </div>


        <div class="entries">

            <span>
              <h2 class="faction-label"></h2>
                <br>
                <button class="submit-squad" hidden="true" disabled="true">Submit squad</button>
              <div class="total" hidden="true"></div>
            </span>
            <div class="squad" >
                <div class="squad-member template">
                    <div class="row template">
                        <span class="row-label"></span>
                        <span class="row-value"><div class="select"></div></span>
                        <span class="row-cost"></span>
                    </div>
                     <div><a href="#" onclick="removeSquadMember(this)">delete/</a> <a href="#" onclick="copySquadMember(this)" >copy/</a> <a href="#" onclick="createNewSquadMember(this)">new</a></div>

                    <div class="sub-total"></div>
                </div>

            </div>
        </div>

    </div>

    <script>

        function init() {
            $('.faction-choice').click(factionChosen);
            $('#getVoidStateList').click(getVoidStateList);
            $('#getYASBList').click(getYASBList);
            $('#getFabList').click(getFabList);

        }

        function factionChosen() {
            $('#list_entry_options-form').remove()
            var faction = $(this).text();
            $('.choose-faction').hide();
            $('.faction-label').text(faction);
            $('.faction-label').hide();
            $('.total').show();
            $('.squad').show();
            if ( $('.faction-label').text() == "imperial" ) {
                $('.submit-squad').text("Submit to the Emperor!");
            }
            else if ( $('.faction-label').text() == "scum" ) {
                $('.submit-squad').text("Yarrr, submit, you scum!");
            }
            else
            {
                $('.submit-squad').text("Join the Rebellion!");
            }
            $('.submit-squad').show();
            $('.submit-squad').click(function() { submitSquad() });

            addSquadMember(faction);
            updateTotals();
        }

        function getFabList()
        {
            //http://fabpsb.free.fr/permalink.php?sq=r1a10m2n4p8r30a11n2r9a2n3o1
            errorMessageSpan = document.getElementById('listFetchErrorMessage');
            errorMessageSpan.innerHTML = "making xws endpoint lookup to fab's squad builder..."

            fabUrl = document.getElementById('fab').value;
            var url = "/get_from_fab?fab=" + fabUrl + "&tourney_id=" + tourney_id + "&tourney_list_id=" + tourney_list_id;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: url,
                success: function (data) {
                    tourney_id       = data.tourney_id;
                    tourney_list_id  = data.tourney_list_id;
                    window.location.replace("/display_list?tourney_list_id=" + tourney_list_id);
                },
                error: function (data) {
                    errorMessageSpan.innerHTML = "something went wrong, got response '" + data.responseJSON.message;
                },
                dataType: "json"
            });
        }
        function getYASBList()
        {
            //https://geordanr.github.io/xwing/?f=Galactic%20Empire&d=v3!s!70:98,23,-1:-1:-1:;78:27,36,46:-1:9:;15::-1:-1:
            errorMessageSpan = document.getElementById('listFetchErrorMessage');
            errorMessageSpan.innerHTML = "making xws endpoint lookup to yasb..."

            yasbUrl = document.getElementById('yasb').value;
            splits  = yasbUrl.split("/?"); //hackish but it works
            if ( splits.length != 2 )
            {
                errorMessageSpan.innerHTML = "invalid yasb url, please provide something like 'https://geordanr.github.io/xwing/?f=Galactic%20Empire&d=v3!s!70:98,23,-1:-1:-1:;78:27,36,46:-1:9:;15::-1:-1:'";

            }
            yasb    = encodeURIComponent(splits[1]);
            var url = "/get_from_yasb?yasb=" + yasb + "&tourney_id=" + tourney_id + "&tourney_list_id=" + tourney_list_id;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: url,
                success: function (data) {
                    tourney_id       = data.tourney_id;
                    tourney_list_id  = data.tourney_list_id;
                    window.location.replace("/display_list?tourney_list_id=" + tourney_list_id);
                },
                error: function (data) {
                    errorMessageSpan.innerHTML = "something went wrong, got response '" + data.responseJSON.message;
                },
                dataType: "json"
            });
        }

        function getVoidStateList()
        {
            listId = document.getElementById('voidstate').value;
            var url = "/get_from_voidstate?voidstate_id=" + listId + "&tourney_id=" + tourney_id + "&tourney_list_id=" + tourney_list_id;
            errorMessageSpan = document.getElementById('listFetchErrorMessage');
            errorMessageSpan.innerHTML = "making xws endpoint lookup to voidstate..."


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: url,
                success: function (data) {
                    tourney_id       = data.tourney_id;
                    tourney_list_id  = data.tourney_list_id;
                    window.location.replace("/display_list?tourney_list_id=" + tourney_list_id);
                },
                error: function (data) {
                    errorMessageSpan.innerHTML = "Something went wrong!: " + data.responseJSON.message;
                },
                dataType: "json"
            });
        }
        function submitSquad()
        {

            var data = [];
            $('.squad-member').not('.template').each(function(i, member) {
                var dmember = {};
                var memberEl = $(member);

                var ship = memberEl.find('.ship');
                var shipSelect = ship.find('.row-value .select');
                var pilot = memberEl.find('.pilot');
                pilotSelect =  pilot.find('.row-value .select');

                if ( shipSelect != null ) {
                    var shipName =  shipSelect.select2('data').text;
                    if ( pilotSelect != null ) {
                        var pilotName = pilotSelect.select2('data').text;
                        dmember.ship  = shipName;
                        dmember.pilot = pilotName;
                       //get all the upgrades
                        var upgrades = [];
                        dmember.upgrades = upgrades;

                        memberEl.find('.upgrade').each( function(k, upgrade) {
                            var upgradeEl     = $(upgrade);
                            var upgradeType   = upgradeEl.find( '.row-label').text();
                            var upgradeSelect = upgradeEl.find('.row-value .select');
                            if ( upgradeSelect != null ) {
                                var upgradeSelectEl = $(upgradeSelect).select2('data');
                                if ( upgradeSelectEl != null ) {
                                    var upgradeName = upgradeSelectEl.text;
                                    upgrades.push( { 'name' : upgradeName, 'type': upgradeType });
                                }
                            }
                        } ) ;
                    }
                    data.push( dmember );
                }

            });

            var addSquadUrl = "/add_squad?tourney_id=" + tourney_id + "&tourney_list_id=" + tourney_list_id;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: addSquadUrl,
                data: JSON.stringify({ 'data' : data, faction: $('.faction-label').text(), 'points': $('.total').text()   } ),
                success: function (data) {
                    tourney_id       = data.tourney_id;
                    tourney_list_id  = data.tourney_list_id;
                    window.location.replace("/display_list?tourney_list_id=" + tourney_list_id);
                },
                dataType: "json"
            });
        }


        function copySquadMember(obj)
        {
            var squadMember = $(obj).parent().parent();
            clone = $(squadMember).clone(true, true);
            $(clone).insertBefore( squadMember );
             updateTotals();
         }
        function numSquadMembers() {
            var count = 0;
            $('.squad-member').not('.template').each(function(i, member) {
                count++;
            } );
            return count;
        }

        function removeSquadMember(obj)
        {
            var squadMember = $(obj).parent().parent();
            squadMember.remove();
            updateTotals();
            if ( numSquadMembers() == 0 ) {
                window.location.reload();
            }
        }

        function createNewSquadMember(obj)
        {
            var squadMember = $(obj).parent().parent();
            var faction = $('.faction-label').text();
            return addSquadMember(faction, squadMember);
        }

        function addSquadMember(faction, squadMember) {
            var squadMemberEl = $('.squad-member.template').clone(true).removeClass('template').insertBefore( squadMember != null? squadMember : '.squad');
            var ships = _.keys(ships_and_pilots).filter(function(ship) {
                for ( var i = 0; i < ships_and_pilots[ship].length; i++ ) {
                    if ( ships_and_pilots[ship][i].faction == faction  ) {
                        return true;
                    }
                }
                return false;
            });
            var items = ships.map(function (ship) {
                return { text: ship, id: ship }
            });
            addRow(squadMemberEl, 'ship', 'Ship', items, function(ship) { shipChosen(faction, squadMemberEl, ship) });
            //updateTotals();
            return squadMemberEl;
        }

        function shipChosen(faction, squadMemberEl, ship) {
            removePilot(squadMemberEl);
            removeUpgrades(squadMemberEl);

            var pilotItems = ships_and_pilots[ship].map(function(pilot) { return { faction: pilot.faction, text:pilot.name, id:pilot.name, cost:pilot.cost }});

            //remove any pilots that are unique and have already been selected
            var uniqueSelectedPilots = getUniqueSelectedPilots(squadMemberEl);
            //remove the unique selected pilots from the pilotItems
            pilotItems = _.filter( pilotItems, function (pi) { return ! ( pi.text in uniqueSelectedPilots ) } );

            //and the ones of the wrong faction
            pilotItems = _.filter( pilotItems, function (pi) { return pi.faction == faction ; } );

            ret = addRow(squadMemberEl, 'pilot', 'Pilot', pilotItems, function(pilot) { pilotChosen(faction, squadMemberEl, ship, pilot) });
            updateTotals();
            return ret;
        }

        function pilotChosen(faction, squadMemberEl, ship, pilot)
        {
            removeUpgrades(squadMemberEl);
            var pilotHref = getPilotHref( ship, pilot, faction );
            var upgrades_for_pilot = pilotHref.upgrades;
            upgrades_for_pilot = convertToArray(upgrades_for_pilot);
            upgrades_for_pilot.forEach(function(upgradeType) {
                addUpgrade( faction, squadMemberEl, ship, pilot, pilotHref, upgradeType );
            } );

            updateTotals();
        }

        function vaksaiEquipped(upgradeValue) {
            return upgradeValue == 'Vaksai';
        }

        function tieX1Equipped(upgradeValue) {
            return upgradeValue == "TIE/X1";
        }

        function upgradeChosen(faction, squadMemberEl, ship, pilot, pilotHref, upgradeType, upgradeValue) {
            var upgradeHref = getUpgradeHref( upgradeType, upgradeValue );
            if ( upgradeHref && 'action' in upgradeHref ) {
                var titleHack = false;
                if ( tieX1Equipped(upgradeValue) || vaksaiEquipped(upgradeValue) ) {
                    titleHack = upgradeValue;
                }
                var action = upgradeHref.action;
                for ( var i = 0; i < action.length; i++ )
                {
                    if ( action[i].type == 'ADD_UPGRADE' ) {
                        var upgrade = action[i].value;
                        upgradeItems = getUpgradeItems( squadMemberEl, upgrade, ship, faction, pilotHref, titleHack );
                        addRow(squadMemberEl, 'upgrade', upgrade, upgradeItems, function (upgradeValue) {
                                upgradeChosen(faction, squadMemberEl, ship, pilot, pilotHref, upgrade, upgradeValue);
                        } );
                    } else if (action[i].type == 'REMOVE_UGPRADE') {
                        SDFASDF
                    }
                }
            }
            //if TIE/X1 is equipped, then lower the cost of all the system upgrades
            updateTotals();
        }


        function addRow(parentEl, className, label, items, changeHandler)
        {
            var rowEl = parentEl.find('.row.template').clone().removeClass('template').appendTo(parentEl);
            rowEl.addClass(className);
            rowEl.find('.row-label').text(label);
            var allowClearValue = true;
            if ( className != "upgrade") {
                allowClearValue = false;
            }
            rowEl.find('.row-value .select')
                    .select2({data:items, placeholder:'select a ' + label, allowClear: allowClearValue })
                    .on('change', function(e) {
                        changeHandler(e.target.value);

                    }).on('select2-removed', function(e) {
                        rowUpgradeEl = $(e.currentTarget).parent().parent();
                        rowUpgradeEl.find( '.row-cost').text('');
                        updateTotals();
                    } );
            return rowEl;
        }

        function getUpgradeItems(squadMemberEl, upgradeType, ship, faction, pilotHref, titleHack )
        {
            var upgradeItems = upgrades[upgradeType].map(function (u) {

                if ('constraints' in u) {
                    return manageConstraints(ship, u.constraints, faction, pilotHref, u, upgradeType);
                }
                else {
                    var cost = u.cost;
                    if ( vaksaiEquipped(titleHack)) {
                        cost = cost - 1;
                        if (cost < 0) {
                            cost = 0;
                        }
                    }
                    else if ( tieX1Equipped(titleHack)) {
                        cost = u.cost - 4;
                        if (cost < 0) {
                            cost = 0;
                        }
                    }
                    return {text: u.name, id: u.name, cost: cost, type: upgradeType, disabled: false};
                }
            });

            //filter down the upgrade items to ones that aren't disabled, and unique ones that haven't already been selected.
            upgradeItems = _.filter(upgradeItems, function (ui) {
                return 'disabled' in ui && ui.disabled == false
            });
            var uniqueSelectedUpgrades = getUniqueSelectedUpgrades(squadMemberEl);
            upgradeItems = _.filter(upgradeItems, function (ui) {
                return !( ui.text in uniqueSelectedUpgrades )
            });
            return upgradeItems;
        }

        function addUpgrade(faction, squadMemberEl, ship, pilot, pilotHref, upgradeType)
        {
            var upgradeItems = getUpgradeItems( squadMemberEl, upgradeType, ship, faction, pilotHref, false );

            addRow(squadMemberEl, 'upgrade', upgradeType, upgradeItems, function (upgradeValue) {
                upgradeChosen(faction, squadMemberEl, ship, pilot, pilotHref, upgradeType, upgradeValue);
            });
        }
        function removeUpgrades( squadMemberEl ) {
            squadMemberEl.find('.upgrade').each(function(i, upgrade) {  $(upgrade).remove(); });

        }
        function removePilot( squadMemberEl ) {
            squadMemberEl.find('.pilot').each(function(i, pilot) {  $(pilot).remove(); });

        }


        function getShipForSquadMember( squadMemberEl )
        {
            var shipName = squadMemberEl.find( '.ship .row-value .select').select2('data').text;
            return shipName;
        }

        function getPilotHref( shipName, pilotName, faction )
        {
            return _.select(ships_and_pilots[shipName], function(p) { return p.name == pilotName && p.faction == faction})[0]
        }

        function getUniqueSelectedPilots( squadMemberEl )
        {
            var ret = {};
            //get all the pilots, and cherry pick out hte ones that arent for this squad member
            var pilots = $('.pilot').filter(function(i, pilot) {
               if ( pilot != null ) {
                   pilotEl = $(pilot);
                   var parentSquadMember = pilotEl.parent();
                   if ( ! parentSquadMember.is( squadMemberEl ) ) {
                       var pilotSelect =  pilotEl.find('.row-value .select');
                       if ( pilotSelect != null ) {
                           var pilotName = pilotSelect.select2('data').text;
                           //get the ship for the pilot
                           var shipName = getShipForSquadMember( parentSquadMember );
                           var pilotHref =  getPilotHref(shipName, pilotName );
                           if ( pilotHref != null && 'constraints' in pilotHref ) {
                               var constraints = pilotHref.constraints;
                               _.each(constraints, function (u) {
                                   if (u.type == 'PER_SQUAD' && u.value == 'UNIQUE')
                                   {
                                       ret[pilotHref.name] = pilotHref.name;
                                   }
                               });
                           }
                       }
                   }
               }
            });
            return ret;

        }

        function getUpgradeHref( upgradeType, upgradeName )
        {
            return _.select(upgrades[upgradeType], function(u) { return u.name == upgradeName })[0]
        }

        function getUniqueSelectedUpgrades( squadMemberEl )
        {
            var ret = {};
            //get all the pilots, and then extract out all of their unique upgrades.
            var pilots = $('.pilot').filter(function(i, pilot) {
               if ( pilot != null ) {
                   pilotEl = $(pilot);
                   var parentSquadMember = pilotEl.parent();
                   if ( ! parentSquadMember.is( squadMemberEl ) ) {
                        parentSquadMember.find('.upgrade').each( function(k, upgrade) {
                            var upgradeEl     = $(upgrade);
                            var upgradeSelect = upgradeEl.find('.row-value .select');
                            if ( upgradeSelect != null ) {
                                var upgradeSelectEl = $(upgradeSelect).select2('data');
                                if ( upgradeSelectEl != null ) {
                                    var upgradeName = upgradeSelectEl.text;
                                    //go fetch the upgrade information for this guy
                                    var upgradeHref = getUpgradeHref(upgradeSelectEl.type, upgradeName );
                                    if ( 'constraints' in upgradeHref)
                                    _.each(upgradeHref.constraints, function (u) {
                                        if (u.type == 'PER_SQUAD' && u.value == 'UNIQUE')
                                        {
                                            ret[upgradeName] = upgradeName;
                                        }
                                   });
                                }
                            }
                        } );
                   }
               }
            });
            return ret;

        }

        function convertToArray( someObject ) {
            if( Object.prototype.toString.call( someObject ) != '[object Array]' ) {
               return [ someObject ];
            }
            return someObject;
        }

        function manageConstraints( ship, constraints, faction, pilotHref, upgrade, upgradeType )
        {
            ret = {text: upgrade.name, id: upgrade.name, cost: upgrade.cost, type: upgradeType, disabled: false };
            constraints = convertToArray(constraints);
            for ( var i = 0; i < constraints.length; i++ ) {
                var u = constraints[i];

                if (u.type == 'FACTION') {
                    if (u.value != faction) {
                        ret = {disabled: true };
                        break;
                    }
                }
                if (u.type == 'SHIP_SIZE') {
                    if (u.value != pilotHref.ship_size) {
                        ret = { disabled: true };
                        break;
                    }
                }
                if (u.type == 'SHIP_TYPE') {
                    if (u.value != ship) {
                        ret = {disabled: true };
                        break;
                    }
                }
            }
            return ret;
        }

        function updateTotals()
        {
            var squadTotal = 0;
            $('.squad-member').not('.template').each(function(i, member) {
                var memberCost = 0;
                var memberEl = $(member);
                var pilot = memberEl.find('.pilot');
                pilotSelect =  pilot.find('.row-value .select');
                if ( pilotSelect != null ) {
                    memberCost     = pilotSelect.select2('data').cost || 0;
                    pilot.find( '.row-cost').text( memberCost );
                    //get all the upgrades
                    var upgradeCosts = 0;
                    memberEl.find('.upgrade').each( function(k, upgrade) {
                        var upgradeEl     = $(upgrade);
                        var upgradeSelect = upgradeEl.find('.row-value .select');
                        if ( upgradeSelect != null ) {
                            var upgradeSelectEl = $(upgradeSelect).select2('data');
                            if ( upgradeSelectEl != null ) {
                                upgradeCosts += upgradeSelectEl.cost;
                                upgradeEl.find('.row-cost').text(upgradeSelectEl.cost);
                            }
                        }
                    } ) ;
                }
                memberCost += upgradeCosts;
                memberEl.find('.sub-total').text( memberCost );
                squadTotal += memberCost;
            });
            if ( squadTotal > 0 ) {
                $('.submit-squad').removeAttr("disabled");
                $('.submit-squad').show();
            }
            $('.total').text(squadTotal);
        }


        init();
    </script>
{% endblock %}
