{% extends "layout.html" %}
{% block content %}
<h2>Create a tourney</h2>
 <form id="myform" action="{{ url_for('add_tourney') }}" method=POST class="add-entry" enctype="multipart/form-data"><br>
    What is the name of the tourney?<br>
    <textarea rows="1" cols="50" name="name" required></textarea><br><br>
    On what date was it played? (format: MM/DD/YYYY)<br>
    <input type="text" id="datepicker" name="datepicker" class="{validate:{required:true, date:true}}">
    <br><br>
    What type of tournament was it?<br>
    <select name="tourney_type" placeholder="Select a type" required>
        <option></option>
        <option value="World championship">World championship</option>
        <option value="Regional">Regional</option>
        <option value="Store championship">Store championship</option>
        <option value="Vassal play">Vassal play</option>
        <option value="Other">Other</option>
    </select><br><br>
    How long were the rounds?
    <select name="round_length_dropdown" id="round_length_dropdown" class="round-length"  >
        <option></option>
        <option value="60">60 minutes</option>
        <option value="75">75 minutes</option>
        <option value="90">90 minutes</option>
    </select>
    <br>Or add your own (example '50' for fifty minute rounds):<textarea class="round-length" id="round_length_userdef" rows="1" cols="5" name="round_length_userdef" ></textarea>
    <br><br>

    Cryodex tournament report export file (optional)?<br>
    <input type="file" name="tourney_report"><br><br><hr>
    <input type="submit" value="Create tourney!">
 </form>


<script>
// just for the demos, avoids form submit
$(document).ready(function(){
    $("#myform").validate( {
        rules: {
            'round_length_dropdown': { number: true},
            'round_length_userdef' : { number: true}
        }
    });

    $.validator.addClassRules("round-length", {
        require_from_group: [1,".round-length"]
    });

    $( "#datepicker" ).datepicker();
});
</script>
{% endblock %}