{% extends "layout.html" %}
{% block content %}
<h2>Create a tourney</h2>
 <form action="{{ url_for('add_tourney') }}" method=post class="add-entry"><br>
    What is the name of the tourney?<br>
    <textarea rows="1" cols="50" name="name" required></textarea><br><br>
    On what date was it played? (format: MM/DD/YYYY)<br>
    <textarea rows="1" cols="50" name="date" required></textarea><br><br>
    What type of tournament was it?<br>
    <select name="tourney_type" placeholder="Select a type" required>
        <option></option>
        <option value="World championship">World championship</option>
        <option value="Regional">Regional</option>
        <option value="Store championship">Store championship</option>
        <option value="Vassal play">Vassal play</option>
        <option value="Other">Other</option>
    </select><br><br>
    What folder on sozin's webserver does it live in?<br>
    <textarea rows="1" cols="50" name="folder" required></textarea><br><br>
    <input type=submit value="Create tourney!">
 </form>
 <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
{% endblock %}