{% extends "layout.html" %}
{% block content %}

<form id="form"
      class="grid-form"
      action="{{ url_for('submit_interdivisional_league_match_report') }}"
      method=POST
      class="add-entry"
      enctype="multipart/form-data">
    <fieldset>
        <legend>Report your inter-divisional league match!</legend>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Division</label>
                {{ match.player1.division.name }}
            </div>
            <div data-field-span="1">
                <label>Divison </label>
                {{ match.player2.division.name }}
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Player 1</label>
                {{ match.player1.get_name() }}
            </div>
            <div data-field-span="1">
                <label>Player 2</label>
                {{ match.player2.get_name() }}
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>{{ match.player1.get_name() }}'s score</label>
                <input type="text" maxlength="3"  name="player1_score" id="player1_score"
                       style="width:100px"
                       data-parsley-range="[0, 100]" required/>

            </div>
            <div data-field-span="1">
                <label>{{ match.player2.get_name() }}'s score</label>
                <input type="text" maxlength="3"  name="player2_score" id="player2_score"
                       style="width:100px"
                       data-parsley-range="[0, 100]" required/>
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label>Winner</label>
                 <select id="winner_id" name="winner_id"
                         width="500" style="width: 500px;"
                         placeholder="Select the winner" required>
                    <option></option>
                    <option value="{{ match.player1_id }}">{{ match.player1.get_name() }}</option>
                    <option value="{{ match.player2_id }}">{{ match.player2.get_name() }}</option>
                 </select>
            </div>
            <div data-field-span="1">
                <label>Vlog file upload</label>
                <input type="file" name="vlog_file" accepts="json" >
            </div>

        </div>
    </fieldset>
    <input type="hidden" name="match_id" value="{{ match.id }}" />
    <input type="submit" class="btn" name="submit-button" id="submit-button" />

</form>

{% endblock %}