{% extends "layout.html" %}
{% block content %}

The ListJuggler search supports a subset of the <a href="https://pythonhosted.org/Whoosh/querylang.html">Whoosh query language.</a>

The general format of a search is something like:<br><br>

    p=Han AND (s=awing OR s=z95) AND (state=Illinois OR state=Indiana) <br><br>

This will search for list that brought Han Solo and an AWing or a Headhunter, in the states of Illinois or Indiana.<br><br>

You have to give hints to ListJuggler to tell it what you are looking for.  It understands ships, pilots, and upgrades.<br><br>

<table border="1">
<thead>
    <td>Prefix</td>
    <td>Meaning</td>
    <td>Example</td>
</thead>
<tbody>
    <tr>
        <td>type</td>
        <td>The tourney type.  Types are Store Championship, Regional, System Open, Nationals, World Championship, Vassal play, and Other.</td>
        <td>type=Regional OR type=Store</td>
    </tr>

    <tr>
        <td>ship</td>
        <td>The Xwing ship name</td>
        <td>ship=yt1300</td>
    </tr>
    <tr>
        <td>s</td>
        <td>The Xwing ship name</td>
        <td>s=yt1300</td>
    </tr>
    <tr>
        <td>pilot</td>
        <td>The Xwing pilot name</td>
        <td>pilot=han</td>
    </tr>
    <tr>
        <td>p</td>
        <td>The Xwing pilot name</td>
        <td>p=han</td>
    </tr>
    <tr>
        <td>upgrade</td>
        <td>The Xwing upgrade name</td>
        <td>upgrade=falcon</td>
    </tr>
    <tr>
        <td>u</td>
        <td>The Xwing upgrade name</td>
        <td>u=falcon</td>
    </tr>
    <tr>
        <td>country</td>
        <td>The country where the tourney was played</td>
        <td>country=Canada</td>
    </tr>
    <tr>
        <td>state</td>
        <td>The state where the tourney was played</td>
        <td>state=Quebec</td>
    </tr>
    <tr>
        <td>city</td>
        <td>The city where the tourney was played</td>
        <td>city=Chicago</td>
    </tr>
    <tr>
        <td>venue</td>
        <td>The venue where the tourney was played</td>
        <td>venue=Dice</td>
    </tr>

</tbody>
</table>
<br>
A few other hints to help you along:
<ul>
<li>You can use either the long, English name of something, or its canonical name.  The full list of searchable names can be found on the  <a href="https://github.com/elistevens/xws-spec/blob/master/README_NAMES.md">xws specification page</a></li>
<li>If you have a search expression with spaces in it -- for example, "Push the Limit" -- use the canonical xws name instead, "pushthelimit"</li>
<li>Wildcards are used behind the scenes - for example, if you want to search for every list with Han and Chewbacca "p=Han AND p=Chew" will work.</li>
<li>If you don't specify an AND clause, it is inferred. "p=Han p=Chew" is the same thing as the above example.</li>
</ul>




{% endblock %}