{% extends "layout.html" %}
{% block content %}

<div id="guide">
<div></div>

</div>
<div id="search-form">
  <input type="search" id="search-text" title="Search" style="width: 750px;border:  1px solid #ccc;font-size: 21px;"
         placeholder="example: p=Han AND (s=awing OR s=z95) AND (u=refit OR u=falcon)">
  <button name="search-button" id="search-button" style="width:30px;height:31px;padding:2px;">Go!</button>       <a href="search_guide">search help</a><br>
</div><hr>
<div id="result"></div>

<script>
/* attach a submit handler to the form */
$(document).ready(function() {
    searchButtonEl = $('#search-button');
    searchButtonEl.click( onSearch )
} );

messages = [ "Interrogating Bothans...", "Searching asteroid field...", "Hacking into Imperial Navy Ship Registry...", "Scanning Kuat Drive Yards database... "]

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function waitText() {
    message = messages[getRandomInt(0, 3)]
    $("#result").empty().append(message);

}
function onSearch() {

    /* get some values from elements on the page: */
    var term = document.getElementById('search-text').value;
    var timer;

    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: "/search_results",
        beforeSend: function() {
            timer = setInterval( waitText, 1000);
        },
        data: JSON.stringify({'search-text': term}),
        success: function (data) {
            clearInterval( timer);
            $("#result").empty().append(data.responseText);

        },
        error: function (data) {
            clearInterval( timer);
            $("#result").empty().append(data.responseText);

        },
        dataType: "json"
    });
}
</script>


{% endblock %}