{% extends "layout.html" %}
{% block content %}


<style>
    td {
        text-align:center;
        vertical-align:middle;
    }
</style>
<br>
<table id="matches" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Tier</th>
    <th>Division</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Match State</th>
    <th>Updated At</th>
    <th>VLog</th>
    <th>Player 1 Score</th>
    <th>Player 2 Score</th>
    <th>Scheduled For</th>
    <th>Player 1 List</th>
    <th>Player 2 List</th>
    {% if admin %}
    <th >Delete</th>
    {% endif %}
  </thead>
  <tbody>
  </tr>
      {% for m in tier.matches %}
      <tr>
         <td>{{  m.player1.tier.get_name()}}</td>
         <td>{{  m.player1.division.get_name()}}</td>
         <td>{{  m.player1.get_url()}}</td>
         <td>{{  m.player2.get_url()}}</td>
         <td>{{  m.state }}</td>
         <td>{{ m.updated_at }}</td>
         <td>{{  m.get_vlog_url() | safe }}</td>
         <td>{{  m.player1_score }}</td>
         <td>{{  m.player2_score }}</td>
         <td>{{ m.get_schedule() }}</td>
         <td >{{ m.get_player1_list_display() | safe }}
         <td >{{ m.get_player2_list_display() | safe }}
         {% if admin %}
            <th >{{ m.get_delete_url() | safe }}</th>
         {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>

<script>

    $(document).ready( function () {
        $('#matches').dataTable({
            "order": [[ 1, "desc" ]],
            lengthMenu: [ [10, 50, -1], [10, 50, "All"] ],
            iDisplayLength: -1,
            "columnDefs": [
                {
                    "type": "num-html", targets: [6,7]
                }
            ],
        });
    } );
</script>
{% endblock %}