{% extends "layout.html" %}
{% block content %}

<h2>{{ venue_name }}</h2>
<div id="total_total" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<hr>
<div id="total-filters">
    <div id="total_total_filters">Total by:
        <input type="radio" name="total-totals" id="total-points-radio" value="sum" checked>sum of points spent on ships
        <input type="radio" name="total-totals" id="total-count-radio" value="count" >number of ships
    </div>
    <div id="total-tourney-types">Tournament types:
    {% for tourney_type in tourney_types %}
        <input type="checkbox" class='total-tourney-types' id="total-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
    {% endfor %}
    </div>
    <div id="total-tournament-results">Player results
        <input type="radio" name="total-result-types" id="total-all-radio" value="all" checked>All player results
        <input type="radio" name="total-result-types" id="total-cut-radio" value="cut" >Only results that made "the cut"
    </div>
</div>

<script>
    function getRadioBoxValue(radioBoxes) {
        var ret;
        for(var i = 0; i < radioBoxes.length; i++){
            if(radioBoxes[i].checked){
                ret = radioBoxes[i].value;
            }
        }
        return ret;
    }

    function get_faction_filter(tourney_types) {
        var ftt = {}
        for(var i = 0; i < tourney_types.length;i++) {
            var filter = tourney_types[i]
            ftt[filter.value] = $(filter).is(':checked');
        }
        return ftt;
    }

    $('input[type=radio][name=total-totals],input[type=radio][name=total-result-types],.total-tourney-types').on('change', function() {
        var totalTotals = document.getElementsByName('total-totals');
        var resultTotals = document.getElementsByName('total-result-types');

        var aggregationType = getRadioBoxValue(totalTotals);
        var resultsType     = getRadioBoxValue(resultTotals);

        var tourney_types = $('.total-tourney-types');
        var ftt = get_faction_filter( tourney_types );

        var url = "/get_total_time_series";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify(
                    {
                        data: { 'aggregation_type' : aggregationType,
                                'results_type' : resultsType,
                                'tourney_filters': ftt,
                                'venue_id':venue_id}
                    }
            ),
            success: function (data) {
                var options = data['options'];
                $('#total_total').highcharts(options);
            },
            dataType: "json"
        });
    });
</script>

<hr>
<div id="faction_total" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="faction-filters">
    <div id="faction_total_filters">
    <input type="checkbox" id="faction-percentage-toggle" value="faction-percentage-toggle" checked>Show as percentage
    <div id="faction-totals">Total by:
            <input type="radio" name="faction-totals" id="faction-points-radio" value="sum" checked>sum of points spent on ships in faction
            <input type="radio" name="faction-totals" id="faction-count-radio" value="count" >number of ships in faction
        </div>
    </div>
    <div id="faction-tourney-types">Tournament types:
        {% for tourney_type in tourney_types %}
            <input type="checkbox" class='faction-tourney-types' id="faction-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
        {% endfor %}
    </div>
    <div id="faction-tournament-results">Player results
        <input type="radio" name="faction-result-types" id="faction-all-radio" value="all" checked>All player results
        <input type="radio" name="faction-result-types" id="faction-cut-radio" value="cut" >Only results that made "the cut"
    </div>
</div>

<script>
$('#faction-percentage-toggle,input[type=radio][name=faction-totals],input[type=radio][name=faction-result-types],.faction-tourney-types').on('change', function() {
    var show_faction_as_percentage = $('#faction-percentage-toggle').is(':checked');
    var factionTotals = document.getElementsByName('faction-totals');
    var resultTotals = document.getElementsByName('faction-result-types');

    var aggregationType = getRadioBoxValue(factionTotals);
    var resultsType     = getRadioBoxValue(resultTotals);

    var faction_tourney_types = $('.faction-tourney-types');
    var ftt = get_faction_filter( faction_tourney_types );

    var url = "/get_faction_time_series";
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: url,
        data: JSON.stringify(
                {
                    data: { 'show_faction_as_percentage' : show_faction_as_percentage,
                            'aggregation_type' : aggregationType,
                            'results_type' : resultsType,
                            'tourney_filters': ftt,
                            'venue_id':venue_id}
                }
        ),
        success: function (data) {
            var faction_options = data['faction_options'];
            $('#faction_total').highcharts(faction_options);
        },
        dataType: "json"
    });
});
</script>
<hr>

<div id="ships" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="ship-filters">
    <div id="ship_total_filters">
        <input type="checkbox" id="ship-percentage-toggle" value="ship-percentage-toggle" checked>Show as percentage
    </div>
    <div id="ship-totals-div">Total by:
            <input type="radio" name="ship-totals" id="ship-points-radio" value="sum" checked>sum of points spent on ships in faction
            <input type="radio" name="ship-totals" id="ship-count-radio" value="count" >number of ships in faction
        </div>
    </div>
    <div id="ship-factions">Factions
        <input type="checkbox" id="ship-rebel-filter" value="{{ rebel }}" checked>{{ rebel }}
        <input type="checkbox" id="ship-imperial-filter" value="{{ imperial }}" checked>{{ imperial }}
        <input type="checkbox" id="ship-scum-filter" value="{{ scum }}" checked>{{ scum }}


    </div>
    <div id="ship-tourney-types">Tournament types:
        {% for tourney_type in tourney_types %}
            <input type="checkbox" class='ship-tourney-types' id="ship-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
        {% endfor %}
    </div>
    <div id="ship-tournament-results">Player results
        <input type="radio" name="ship-result-types" id="ship-all-radio" value="all" checked>All player results
        <input type="radio" name="ship-result-types" id="ship-cut-radio" value="cut" >Only results that made "the cut"
    </div>
</div>

<script>

    $('.ship-tourney-types,input[type=radio][name=ship-result-types],input[type=radio][name=ship-totals],#ship-percentage-toggle,#ship-rebel-filter,#ship-imperial-filter,#ship-scum-filter').on('change', function() {
    var show_ship_as_percentage = $('#ship-percentage-toggle').is(':checked');
    var rebel_checked = $('#ship-rebel-filter').is(':checked');
    var imperial_checked = $('#ship-imperial-filter').is(':checked');
    var scum_checked = $('#ship-scum-filter').is(':checked');

    var shipTotals = document.getElementsByName('ship-totals');
    var resultTotals = document.getElementsByName('ship-result-types');

    var aggregationType = getRadioBoxValue(shipTotals);
    var resultsType     = getRadioBoxValue(resultTotals);

    var tourney_types = $('.ship-tourney-types');
    var ftt = get_faction_filter( tourney_types );

    var url = "/get_ship_time_series";
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: url,
        data: JSON.stringify(
                {
                    data: {
                        'imperial_checked': imperial_checked,
                        'rebel_checked': rebel_checked,
                        'scum_checked': scum_checked,
                        'show_ship_as_percentage' : show_ship_as_percentage,
                        'aggregation_type' : aggregationType,
                        'results_type' : resultsType,
                        'tourney_filters': ftt,
                        'venue_id' : venue_id

                    }
                }
        ),
        success: function (data) {
            var ship_options = data['ship_options'];
            adjustVisibles(ship_options)
            $('#ships').highcharts(ship_options);
        },
        dataType: "json"
    });
});
</script>
<hr>

<div id="pilots" style="min-width: 310px; height: 630px; margin: 0 auto"></div>
<div>
    <div id="pilot-filters">
    <div id="pilot_total_filters">
        <input type="checkbox" id="pilot-percentage-toggle" value="pilot-percentage-toggle" checked>Show as percentage
    </div>
    <div id="pilot-totals-div">Total by:
            <input type="radio" name="pilot-totals" id="pilot-points-radio" value="sum" checked>sum of points spent on pilots in faction
            <input type="radio" name="pilot-totals" id="pilot-count-radio" value="count" >number of ships in faction
        </div>
    </div>
    <div id="pilot-factions">Factions
        <input type="checkbox" id="pilot-rebel-filter" value="{{ rebel }}" checked>{{ rebel }}
        <input type="checkbox" id="pilot-imperial-filter" value="{{ imperial }}" checked>{{ imperial }}
        <input type="checkbox" id="pilot-scum-filter" value="{{ scum }}" checked>{{ scum }}
    </div>
    <div id="pilot-tourney-types">Tournament types:
        {% for tourney_type in tourney_types %}
            <input type="checkbox" class='pilot-tourney-types' id="pilot-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
        {% endfor %}
    </div>
    <div id="pilot-tournament-results">Player results
        <input type="radio" name="pilot-result-types" id="pilot-all-radio" value="all" checked>All player results
        <input type="radio" name="pilot-result-types" id="pilot-cut-radio" value="cut" >Only results that made "the cut"
    </div>
</div>
    <hr>

<script>
    $('#pilot-tourney-types,input[type=radio][name=pilot-result-types],input[type=radio][name=pilot-totals],#pilot-percentage-toggle,#pilot-rebel-filter,#pilot-imperial-filter,#pilot-scum-filter').on('change', function() {
        var show_pilot_as_percentage = $('#pilot-percentage-toggle').is(':checked');
        var rebel_checked = $('#pilot-rebel-filter').is(':checked');
        var imperial_checked = $('#pilot-imperial-filter').is(':checked');
        var scum_checked = $('#pilot-scum-filter').is(':checked');

        var pilotTotals = document.getElementsByName('pilot-totals');
        var resultTotals = document.getElementsByName('pilot-result-types');

        var aggregationType = getRadioBoxValue(pilotTotals);
        var resultsType     = getRadioBoxValue(resultTotals);

        var tourney_types = $('.pilot-tourney-types');
        var ftt = get_faction_filter( tourney_types );

        var url = "/get_pilot_time_series";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify(
                    {
                        data: {
                            'imperial_checked': imperial_checked,
                            'rebel_checked': rebel_checked,
                            'scum_checked': scum_checked,
                            'show_pilot_as_percentage' : show_pilot_as_percentage,
                            'aggregation_type' : aggregationType,
                            'results_type' : resultsType,
                            'tourney_filters': ftt,
                            'venue_id':venue_id
                        }
                    }
            ),
            success: function (data) {
                var pilot_options = data['pilot_options'];
                adjustVisibles(pilot_options)
                $('#pilots').highcharts(pilot_options);
            },
            dataType: "json"
    });
});
</script>
<div id="upgrades" style="min-width: 310px; height: 650px; margin: 0 auto"></div>
<div>
    <div id="upgrade-filters">
    <div id="upgrade_total_filters">
        <input type="checkbox" id="upgrade-percentage-toggle" value="upgrade-percentage-toggle" checked>Show as percentage
    </div>
    <div id="upgrade-totals-div">Total by:
            <input type="radio" name="upgrade-totals" id="upgrade-points-radio" value="sum" checked>sum of points spent on upgrades
            <input type="radio" name="upgrade-totals" id="upgrade-count-radio" value="count" >number of upgrades taken
        </div>
    </div>
    <div id="upgrade-tourney-types">Tournament types:
        {% for tourney_type in tourney_types %}
            <input type="checkbox" class='upgrade-tourney-types' id="upgrade-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
        {% endfor %}
    </div>
    <div id="upgrade-tournament-results">Player results
        <input type="radio" name="upgrade-result-types" id="upgrade-all-radio" value="all" checked>All player results
        <input type="radio" name="upgrade-result-types" id="upgrade-cut-radio" value="cut" >Only results that made "the cut"
    </div>
    <div id="upgrade-types">Upgrade types
        <select style="width:300px" id="upgrade-types-select" class="upgrade-types-select" placeholder="Filter by upgrade type" multiple="multiple">
            {%  for ut in upgrade_types %}
                <option value="{{ ut }}">{{ ut }}</option>
            {% endfor %}
        </select>
    </div>
</div>


<script>

    function applyUpgradeFilter()
    {
            var selectedUpgrades = $('#upgrade-types-select').select2("val")
            chart = $('#upgrades').highcharts()
            series = chart.series;

            if (selectedUpgrades.length == 0) {
                for( var i = 0; i  < series.length; i++ ) {
                    series[i].setVisible(true, false);
                }
            }

            else {
                for (var i = 0; i < series.length; i++) {
                    var upgradeName = series[i].name;
                    var makeVisible = false;
                    for (var j = 0; j < selectedUpgrades.length; j++) {
                        if (upgrade_name_to_type[upgradeName] == selectedUpgrades[j]) {
                            makeVisible = true;
                        }
                    }
                    series[i].setVisible(makeVisible, false);
                }
            }
            chart.redraw();
    }

    $('#upgrade-types-select').on('change', function() {
        applyUpgradeFilter();
    });
    $('#upgrade-tourney-types,input[type=radio][name=upgrade-result-types],input[type=radio][name=upgrade-totals],' +
            '#upgrade-percentage-toggle').on('change', function() {
        var show_upgrade_as_percentage = $('#upgrade-percentage-toggle').is(':checked');

        var upgradeTotals = document.getElementsByName('upgrade-totals');
        var resultTotals = document.getElementsByName('upgrade-result-types');

        var aggregationType = getRadioBoxValue(upgradeTotals);
        var resultsType = getRadioBoxValue(resultTotals);

        var tourney_types = $('.upgrade-tourney-types');
        var ftt = get_faction_filter(tourney_types);

        var url = "/get_upgrade_time_series";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: JSON.stringify(
                    {
                        data: {
                            'show_upgrade_as_percentage': show_upgrade_as_percentage,
                            'aggregation_type': aggregationType,
                            'results_type': resultsType,
                            'tourney_filters': ftt,
                            'venue_id':venue_id
                        }
                    }
            ),
            success: function (data) {
                var upgrade_options = data['upgrade_options'];
                adjustVisibles(upgrade_options);
                $('#upgrades').highcharts(upgrade_options);
                applyUpgradeFilter();

            },
            dataType: "json"
        });
    });

</script>

<div id="pilot_skill" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="ps-filters">
    <div id="ps_total_filters">
        <input type="checkbox" id="ps-percentage-toggle" value="ps-percentage-toggle" checked>Show as percentage
    </div>
    <div id="ps-factions">Factions
        <input type="checkbox" id="ps-rebel-filter" value="{{ rebel }}" checked>{{ rebel }}
        <input type="checkbox" id="ps-imperial-filter" value="{{ imperial }}" checked>{{ imperial }}
        <input type="checkbox" id="ps-scum-filter" value="{{ scum }}" checked>{{ scum }}
    </div>
    <div id="ps-tourney-types">Tournament types:
        {% for tourney_type in tourney_types %}
            <input type="checkbox" class='ps-tourney-types' id="ps-tourney-type-{{ loop.counter }}" value="{{ tourney_type }}" checked>{{ tourney_type }}
        {% endfor %}
    </div>
    <div id="ps-tournament-results">Player results
        <input type="radio" name="ps-result-types" id="ps-all-radio" value="all" checked>All player results
        <input type="radio" name="ps-result-types" id="ps-cut-radio" value="cut" >Only results that made "the cut"
    </div>
    <div id="upgrade-types">Ship types
        <select style="width:300px" id="ps-ships-types-select" class="ps-ships-types-select" placeholder="Filter by ship type" multiple="multiple">
            {%  for ut in ps_ships %}
                <option value="{{ ut }}">{{ ut }}</option>
            {% endfor %}
        </select>
    </div>

</div>
<hr>

<script>

    $('#ps-ships-types-select,.ps-tourney-types,input[type=radio][name=ps-result-types],' +
            '#ps-percentage-toggle,#ps-rebel-filter,#ps-imperial-filter,#ps-scum-filter').on('change', function() {
    var show_ps_as_percentage = $('#ps-percentage-toggle').is(':checked');
    var rebel_checked = $('#ps-rebel-filter').is(':checked');
    var imperial_checked = $('#ps-imperial-filter').is(':checked');
    var scum_checked = $('#ps-scum-filter').is(':checked');

    var resultTotals = document.getElementsByName('ps-result-types');
    var resultsType  = getRadioBoxValue(resultTotals);

    var tourney_types = $('.ps-tourney-types');
    var ftt = get_faction_filter( tourney_types );

    var selectedShips = $('#ps-ships-types-select').select2("val")

    var url = "/get_ps_time_series";
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: url,
        data: JSON.stringify(
                {
                    data: {
                        'imperial_checked': imperial_checked,
                        'rebel_checked': rebel_checked,
                        'scum_checked': scum_checked,
                        'show_ps_as_percentage' : show_ps_as_percentage,
                        'results_type' : resultsType,
                        'tourney_filters': ftt,
                        'ships_filter': selectedShips,
                        'venue_id':venue_id
                    }
                }
        ),
        success: function (data) {
            var ps_options = data['ps_options'];
            $('#pilot_skill').highcharts(ps_options);
        },
        dataType: "json"
    });
});
</script>


<script>

function adjustVisibles(chartOptions)
{
    series = chartOptions.series;
    if (series && series.length > 0) {
        for (var i = 0; i < series.length; i++) {
            if (series[i].visible == 1) {
                series[i].visible = true;
            }
            else {
                series[i].visible = false;
            }
        }
    }
}

var ship_total_options = {{ ship_total_options | safe }};
var faction_options = {{ faction_options | safe }};
var ship_options = {{ ship_options | safe }};
var pilot_options = {{ pilot_options | safe }};
var upgrade_options = {{ upgrade_options | safe }};
var upgrade_types = {{ upgrade_types | safe }};
var upgrade_name_to_type = {{ upgrade_name_to_type | safe }};
var ps_options = {{ pilot_skill_options | safe }};
var ps_ships = {{ ps_ships | safe }};
var venue_id = {{ venue_id | safe }}
if (venue_id == 0) {
    venue_id = null;
}
adjustVisibles(ship_options);
adjustVisibles(pilot_options);
adjustVisibles(upgrade_options);



$('#total_total').highcharts( ship_total_options );
$('#faction_total').highcharts( faction_options );
$('#ships').highcharts( ship_options );
//new Highcharts.Chart( 'pilots', pilot_options );
$('#pilots').highcharts(pilot_options);
$('#upgrades').highcharts( upgrade_options );
$('.upgrade-types-select').select2();
$('.ps-ships-types-select').select2();
$('#pilot_skill').highcharts( ps_options );


</script>
{% endblock %}