{% extends "layout.html" %}
{% block content %}

<div id="ship_total" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<hr>
<div id="faction_total" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="faction_total_filters">
<input type="checkbox" id="faction-percentage-toggle" value="faction-percentage-toggle">Show as percentage
</div>
<hr>
<div id="ships" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="faction_filters" style="display: none;">
Faction Filters
    <input type="checkbox" id="rebel-filter" value="rebel-filter" checked="checked">{{ scum }}
    <input type="checkbox" id="imperial-filter" value="imperial-filter" checked="checked">{{ rebel }}
    <input type="checkbox" id="scum-filter" value="scum-filter" checked="checked">{{ imperial }}
</div>
<div id="tourney_filters" style="display: none;">
Tourney Filters
    <input type="checkbox" id="elimination-filter" value="elimination-filter">Elimination only
    <input type="checkbox" id="store-filter" value="store-filter" checked="checked">Store champs
    <input type="checkbox" id="regional-filter" value="regional-filter" checked="checked">Regional champs
    <input type="checkbox" id="national-filter" value="national-filter" checked="checked">National champs
    <input type="checkbox" id="world-filter" value="world-filter" checked="checked">World champs
    <input type="checkbox" id="vassal-filter" value="vassal-filter" checked="checked">Vassal play
    <input type="checkbox" id="other-filter" value="other-filter" checked="checked">Other
</div>
<hr>
<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<script>
var ship_total_options = {{ ship_total_options | safe }};
var faction_options = {{ faction_options | safe }};
var ship_options = {{ ship_options | safe }}

$('#ship_total').highcharts( ship_total_options );
$('#faction_total').highcharts( faction_options );
$('#ships').highcharts( ship_options );

$('#faction-percentage-toggle').on('change', function() {
    var $this = $(this);
    var show_faction_as_percentage;
    if ($this.is(':checked')) {
        show_faction_as_percentage = true;
    }
    else {
        show_faction_as_percentage = false;
    }
    var url = "/get_faction_time_series";
    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: url,
        data: JSON.stringify({ data: { 'show_faction_as_percentage' : show_faction_as_percentage } } ),
        success: function (data) {
            var faction_options = data['faction_options'];
            $('#faction_total').highcharts(faction_options);
        },
        dataType: "json"
    });
});


{#


$(function () {
    $('#container').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Historic and Estimated Worldwide Population Distribution by Region'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: 'Percent'
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} millions)<br/>',
            shared: true
        },
        plotOptions: {
            area: {
                stacking: 'percent',
                lineColor: '#ffffff',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#ffffff'
                }
            }
        },
        series: [{
            name: 'Asia',
            data: [502, 635, 809, 947, 1402, 3634, 5268]
        }, {
            name: 'Africa',
            data: [106, 107, 111, 133, 221, 767, 1766]
        }, {
            name: 'Europe',
            data: [163, 203, 276, 408, 547, 729, 628]
        }, {
            name: 'America',
            data: [18, 31, 54, 156, 339, 818, 1201]
        }, {
            name: 'Oceania',
            data: [2, 2, 2, 6, 13, 30, 46]
        }]
    });
});
#}

</script>
{% endblock %}