{% extends "layout.html" %}
{% block content %}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-3i0c{font-weight:bold;background-color:#ffce93}
</style>
<br>
<a href="/new">add a new tourney</a><br><br>
<a href="/export_all_lists">export all tourneys to csv</a><br>

<br>
<table class="tg">
  <tr>
    <th class="tg-3i0c">Name</th>
    <th class="tg-3i0c">Type</th>
    <th class="tg-3i0c">Date Played</th>
    <th class="tg-3i0c">Total Lists</th>
    <th class="tg-3i0c">Lists Entered</th>
    <th class="tg-3i0c">Lists Not Entered</th>
    <th class="tg-3i0c">Export Lists</th>

    {% if admin %}
    <th class="tg-3i0c">Admin</th>
    {% endif %}
  </tr>
      {% for key, value in tourneys.iteritems() %}
      <tr>
         <td class="tg-031e">{{ key }}</td>
         <td class="tg-031e">{{ value['tourney'].tourney_type }}</td>
         <td class="tg-031e">{{ value['tourney'].tourney_date }}</td>
         <td class="tg-031e">{{  value['num_entered'] + value['num_not_entered']  }}</td>
         <td class="tg-031e">{{ value['num_entered'] }} (<a href="{{ url_for( 'browse_list', tourney=key) }}">browse submitted lists!</a>) </td>
         <td class="tg-031e">{{ value['num_not_entered'] }} ( <a href="{{ url_for( 'enter_list', tourney=value['tourney'].id) }}">enter a list!</a>)</td>
         <td class="tg-031e"><a type="text/csv" href="{{ url_for( 'export_tourney_lists', tourney_id=value['tourney'].id) }}">Export to csv</a></td>

         {% if admin %}
         <td class="tg-031e"><a href="{{ url_for( 'delete_tourney', tourney=key) }}">delete tourney</a></td>
         {%  endif %}
      </tr>
      {% endfor %}
</table>

{% endblock %}