{% extends "layout.html" %}
{% block content %}

    <style>
        td {
            text-align: center;
            vertical-align: middle;
        }
    </style>

    <br>
    <a href="/new">add a new tourney</a><br><br>
    <a href="/export_all_lists" rel="nofollow">export all tourneys to csv</a><br>

    <br>
    <table id="tourneys" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Tourney Id</th>
            <th>Venue</th>
            <th>Venue Id</th>
            <th>Geo</th>
            <th>Num. Players</th>
            <th>Tourney Type</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            var table = $('#tourneys').DataTable({
                "columnDefs" : [
                    { targets: 0,
                        'render': function( data, type, row) {
                            var regex = /(.*?)\s+00:/g;
                            var match = regex.exec(data);
                            return match[1]
                        }
                    }, //tourney date
                    { //tourney name link
                        'render': function ( data, type, row ) {
                            return '<a href="/get_tourney_details?tourney_id='+row[2] +  '">' + data + "</a>"
                        },
                        'targets':1
                    },
                    {  //tourney id
                        'visible': false, 'targets': 2, searchable: false
                    },
                    { //venue link
                        'render': function ( data, type, row) {
                            return '<a href="/venue?venue_id='+row[4] +  '">' + data + "</a>"
                        },
                        'targets':3
                    },
                    { 'visible': false, 'targets': 4, searchable: false}, //3: venue id, hidden
                    { 'targets': 5, 'width': '8%'}

                ],
                "processing": true,
                "serverSide": true,
                "ajax": "{{ url_for('tourneys_page') }}",
                "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                iDisplayLength: 25,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>

{% endblock %}
