{% extends "layout.html" %}
{% block content %}

<style>
td
{
    text-align:center;
    vertical-align:middle;
}
</style>

<h3>Tourney {{ tourney.tourney_name }} lists summary</h3>
<table id="tourneyLists" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th >Tourney</th>
        <th >Player</th>
        <th >Swiss Standing</th>
        <th >Elimination Standing</th>
        <th >Faction</th>
        <th >Points</th>
        <th >List</th>
        {% if admin %}
            <th >Admin</th>
        {% endif %}
      </tr>
  </thead>
  <tbody>
      {% for player in tourney.tourney_players %}
          <tr>
             <td >{{ tourney.tourney_name }}</td>
             <td >{{  player.player_name }}</td>
             <td >{{  player.result.rank }}</td>
             <td >{{  player.result.elim_rank}}</td>
             {%  set tourney_list = player.get_first_tourney_list()  %}
             {% if tourney_list and tourney_list.ships %}
                 <td >{{  tourney_list.faction.description }}</td>
                 <td >{{  tourney_list.points }}</td>
                 <td ><a href="{{  url_for( 'display_list', tourney_list_id=tourney_list.id) }}">Show list</a></td>
                {% if admin %}
                    <th >
                        <a href="{{ url_for( 'delete_list', admin=admin, tourney=tourney.tourney_name, tourney_list_id=tourney_list.id ) }}">Delete list</a>
                    </th>
                {% endif %}
             {%  else %}
                 <td >Faction unknown </td>
                 <td >Points unknown </td>
                 <td ><a href="{{ url_for( 'enter_list', tourney_list_id=tourney_list.id) }}">Enter it now!</a> </td>
             {%  endif %}

          </tr>
      {% endfor %}
  </tbody>
</table>

<script>

    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "num-html-pre": function ( a ) {
            var x = String(a).replace( /None/g, "999999" );
            return parseInt( x );
        },

        "num-html-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "num-html-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
    } );

    $(document).ready( function () {
        $('#tourneyLists').dataTable( {
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            columnDefs: [
                { "type": "string", "targets": [0, 1, 4, 6]},
                { "type": "numeric", "targets": [2, 5 ]},
                { "type": "num-html", "targets":[3]}
            ],
            iDisplayLength: -1
        });
    } );
</script>

{% endblock %}
